<template lang='pug'>
  section.user-links
    q-list()
      q-item(clickable v-ripple to='/user/creator' exact)
        q-item-section(avatar)
          q-icon(color='white' name='bar_chart')
        q-item-section
          | Dashboard
      q-item(clickable v-ripple to='/user/creator/network' exact)
        q-item-section(avatar)
          q-icon(color='white' name='group')
        q-item-section
          | Network
      q-item(clickable v-ripple to='/user/creator/jobs')
        q-item-section(avatar)
          q-icon(color='white' name='credit_card')
        q-item-section
          | Jobs
      q-item(clickable v-ripple to='/user/creator/messages' exact)
        q-item-section(avatar)
          q-icon(color='white' name='chat_bubble_outline')
        q-item-section
          | Messages

</template>

<script>
export default {
  name: 'Links',
  data () {
    return {}
  },
  methods: {
    gotoProfile () {
      this.$router.push({ path: '/user/profile' })
    }
  }
}
</script>

<style lang='stylus'>
  +b('user-links')
    .q-router-link--exact-active
      background: linear-gradient(90deg, #0283c4 0%,#c2268f 100%)
      color white
      &:before
        width 3px
        height: 48px
        background-color $bls_caribbean
        content ''
        position absolute
        left 0
        top 0px
</style>
