<template lang="pug">
  section.chat-widget.q-pa-lg
    .messages
      .message(v-for="message in messages" :key="message.id")
        |  {{ message.textMessage }}
        br
        strong
          | From: {{ message.name }}
        br
        strong
          | Sent: {{ message.timeSent }}

    q-form.message-form
      q-input(
        v-model="newMessage"
        id="reg_messageInput"
        dark
        name="newMessage"
        placeholder="Compose your message and hit ENTER to send"
        color='white'
        @keyup.enter="handleSubmit"
      ).message-input
</template>

<script>
export default {
  name: 'ChatWidget',
  props: {
    messages: Array,
    currentUser: {
      type: Object,
      required: true,
      default: null
    }
  },
  created () {
    console.log(this.currentUser)
  },
  data () {
    return {
      newMessage: ''
    }
  },
  methods: {
    handleSubmit () {
      this.$emit('sendMessage', this.newMessage)
      this.newMessage = ''
    }
  }
}
</script>

<style lang="stylus">
</style>
