<template lang="pug">
  .wrapper.cobalt-magenta-180-alpha-20-right-bottom
    .wrapper__content.q-pa-md.text-center
      router-link(to="/")
        img(src="statics/logo.svg", alt="Logo", height="30").logo
      h6.desc Fill out the form to register your company with us.
      q-form(
        ref="clientRegistrationForm"
        @submit='onSubmit'
        @reset='onReset'
      ).registration-form.q-gutter-sm
        q-input(
          v-model="companyName"
          dark
          lazy-rules
          outlined
          autocomplete="org"
          color="white"
          data-cy="companyName"
          label="COMPANY NAME"
          type="text"
          :rules="[val => !!val || '*Field is required']"
        )
        q-input(
          v-model="pointOfContact"
          dark
          lazy-rules
          outlined
          autocomplete="name"
          color="white"
          data-cy="pointOfContact"
          label="POINT OF CONTACT"
          type="text"
          :rules="[val => !!val || '*Field is required']"
        )
        q-input(
          v-model="email"
          dark
          lazy-rules
          outlined
          autocomplete="email"
          color="white"
          data-cy="email"
          label="EMAIL"
          type="email"
          :rules="[val => !!val || '*Field is required', val => val.includes('@') && val.includes('.') || '*Please Provide a valid email']"
        )
        q-input(
          v-model="phoneNumber"
          dark
          lazy-rules
          outlined
          autocomplete="tel"
          color="white"
          data-cy="phoneNumber"
          hint="+1(###) ###-####"
          label="PHONE NUMBER"
          mask="+#(###) ###-####"
          type="text"
          :rules="[val => !!val || '*Field is required']"
        )
        q-input(
          v-model="location"
          dark
          lazy-rules
          outlined
          autocomplete=""
          color="white"
          data-cy="location"
          hint="Example: Los Angeles, CA"
          label="LOCATION"
          type="text"
          :rules="[val => !!val || '*Field is required']"
        )
        q-input(
          v-model="password"
          dark
          lazy-rules
          outlined
          autocomplete="current-password new-password"
          color="white"
          data-cy="password"
          label="PASSWORD"
          :rules="[val => !!val || '*Field is required']"
          :type="isPwd ? 'password' : 'text'"
          @keyup.enter="onSubmit(); $event.target.blur()"
        )
          template(v-slot:append)
            q-icon.cursor-pointer(
              :name="isPwd ? 'visibility_off' : 'visibility'"
              @click="isPwd = !isPwd"
            )
        q-input(
          v-model="passwordMatch"
          dark
          lazy-rules
          outlined
          autocomplete="new-password"
          color="white"
          data-cy="verifyPassword"
          label="VERIFY PASSWORD"
          :rules="[val => !!val || '*Field is required', val => val === password || `*Passwords don't match`]"
          :type="isPwd ? 'password' : 'text'"
          @keyup.enter="onSubmit(); $event.target.blur()"
        )
          template(v-slot:append)
            q-icon.cursor-pointer(
              :name="isPwd ? 'visibility_off' : 'visibility'"
              @click="isPwd = !isPwd"
            )
        q-btn(
          fullwidth
          data-cy="submit"
          text-color="white"
          label="REGISTER"
          type="submit"
          :loading="loading"
        ).cobalt-magenta-180.full-width
          template(v-slot:loading)
            q-spinner-gears
</template>

<script>
import { tokenizeFullName } from 'src/utils/utilFunctions.js'
export default {
  name: 'ClientRegistration',
  data () {
    return {
      companyName: null,
      email: null,
      isPwd: true,
      loading: false,
      location: null,
      password: null,
      passwordMatch: null,
      phoneNumber: null,
      pointOfContact: null,
      userPayload: null
    }
  },
  methods: {
    getGeoCoordinates () {},
    prepareUserPayload (user) {
      return {
        applicationRoles: ['CLIENT'],
        companyName: this.companyName,
        email: this.email,
        location: this.location,
        onboarded: false,
        phoneNumber: this.phoneNumber,
        verificationStatus: 'pending',
        ...this.tokenizeFullName(this.pointOfContact)
      }
    },
    onSubmit () {
      this.loading = true
      this.$refs.clientRegistrationForm.validate()
        .then(() => {
          this.$fb.registerUserWithEmail(this.email, this.password)
            .then(result => {
              this.userPayload = this.prepareUserPayload(result.user)
              this.submitUserToDB(result.user.uid)
            })
            .catch()
        })
    },
    onReset () {
      // Reset User Data
      this.companyName = null
      this.email = null
      this.location = null
      this.password = null
      this.passwordMatch = null
      this.phoneNumber = null
      this.pointOfContact = null

      // Reset Form State
      this.loading = false
      this.$refs.clientRegistrationForm.resetValidation()
    },
    submitUserToDB (id) {
      this.$fb.createUser(this.userPayload, id)
        .then(() => {
          this.$q.notify({
            color: 'positive',
            message: 'Thank you for registering! A representative from Blis will be in contact with you shortly.'
          })
          this.onReset()
          this.loading = false
        })
        .catch(err => console.error(err))
    },
    tokenizeFullName
  }
}
</script>

<style lang="stylus">
// $
  +b('wrapper')
    +m('registration')
      +b('logo')
        display block
        margin 2em auto 1em
      +b('tag')
        margin 0 auto
      +b('q-form')
        min-height 20vh
        max-width 30em
        margin auto
        position relative

        +b('q-field__control.text-negative')
          &::before
            border-color rgba(0,0,0,0)
</style>
