<template lang="pug">
  q-page(padding).wrapper.cobalt-magenta-180-alpha-20-right-bottom
    .wrapper__content.creator-registration.text-center
      h4.title Join Blis
      .instructions Sign up. Fill out your profile. View jobs!
      q-form(
        ref="creatorRegistrationForm"
        @submit="onSubmit"
      ).registration-form
        .row.justify-between
          .name.col-md-6.col-xs-12.q-gutter-sm
            label(for="project-type").text-left.text-bold.q-my-md.block
              | Full Name
            q-input(
              id="fullName"
              v-model="fullName"
              dark
              dense
              outlined
              color="white"
              placeholder="Full name"
              type="text"
              :rules="[val => !!val || '*Field is required']"
              @input="writeStateData({ prop: 'fullName', value: fullName })"
            )
          .email.col-md-6.col-xs-12.q-gutter-sm
            label(for="project-type").text-left.text-bold.q-my-md.block
              | Email Address
            q-input(
              id="email"
              v-model="email"
              dark
              dense
              outlined
              color="white"
              lazy-rules
              placeholder="name@example.com"
              type="text"
              :rules="[val => !!val || '*Field is required', val => val.includes('@') && val.includes('.') || '*Please Provide a valid email']"
               @input="writeStateData({ prop: 'email', value: email })"
          )
        label(for="project-type").text-left.text-bold.q-my-md.block
          | What city do you work in?
        q-input(
          id="location"
          v-model="location"
          dark
          dense
          outlined
          color="white"
          placeholder="Los Angeles, Atlanta, Vancouver"
          type="text"
          :rules="[val => !!val || '*Field is required']"
           @input="writeStateData({ prop: 'location', value: location })"
        )
        //- label(for="roles").text-left.text-bold.q-my-md.block
        //-   | How would you describe yourself?
        //- q-select(
        //-   v-if="options.length > 0"
        //-   id="roles"
        //-   v-model="roles"
        //-   ref="rolesSelect"
        //-   dark
        //-   dense
        //-   emit-value
        //-   map-options
        //-   multiple
        //-   options-dark
        //-   outlined
        //-   color="white"
        //-   max-values="2"
        //-   :options="options"
        //-   :option-label="opt => opt.name"
        //-   :option-value="opt => opt"
        //-   :rules="[val => !!val || '*Field is required']"
        //-   @input="writeStateData('roles', roles, 'creatorRegistration/saveOnboardingData')"
        //- )
        //-   template(v-slot:append)
        //-     q-icon(
        //-       v-if="roles.length !== 0"
        //-       class="cursor-pointer"
        //-       name="clear"
        //-       @click.stop="roles = []"
        //-     )
          //- template(
          //-   v-slot:option
          //-   v-for="(opt, index) in options"
          //- )
          //-   q-item
          //-     | {{opt.name}}
        q-btn(
          rounded
          color="white"
          label="NEXT"
          text-color="black"
          type="submit"
        ).submit
</template>

<script>
// import { writeStateData } from '../../utils/utilFunctions.js'
import { mapMutations, mapState } from 'vuex'
export default {
  name: 'CreatorWebOnboarding',
  computed: {
    ...mapState({
      creatorRegistrationData: state => state.creatorRegistration
    })
  },
  data () {
    return {
      email: null,
      fullName: null,
      location: null,
      options: [],
      roles: []
    }
  },
  // firestore () {
  //   const db = this.$fb.firestore()
  //   return {
  //     options: db.collection('roles').orderBy('name')
  //   }
  // },
  methods: {
    ...mapMutations('onboarding', {
      writeStateData: 'UPDATE_USER_DATA'
    }),
    onSubmit () {
      this.$refs.creatorRegistrationForm.validate()
        .then(success => {
          if (success) {
            this.$router.push({
              name: 'PhoneNumber',
              params: {
                creatorRegistrationData: this.creatorRegistrationData
              }
            })
            // if (this.$refs.rolesSelect.validate(this.roles.length > 0)) {
            //   this.$router.push({
            //     name: 'PhoneNumber',
            //     params: {
            //       creatorRegistrationData: this.creatorRegistrationData
            //     }
            //   })
            // }
          }
        })
    }
  }
}
</script>

<style lang="stylus">
// $
+b('wrapper')
  +b('creator-registration')
    margin 0 auto 0
    padding 1em 3.75em 0
    +b('instructions')
      margin auto
      max-width 28em
      font-size 1.125em
</style>
