<template lang="pug">
  .wrapper.wrapper--login.q-pa-md.text-center.cobalt-magenta-180-alpha-20-right-bottom
    router-link(to="/")
      img(src="statics/logo.svg", alt="Logo", height="30").logo
    h6.tag Client Login
    q-form(
      ref="clientLogin"
      @submit='onSubmit'
      @reset='onReset'
    ).q-gutter-sm
      q-input(
        v-model="email"
        dark
        lazy-rules
        outlined
        autocomplete="email"
        color="white"
        data-cy="email"
        label="EMAIL"
        type="text"
        :rules="[val => !!val || '*Field is required', val => val.includes('@') && val.includes('.') || '*Please Provide a valid email']"
      )
      q-input(
        v-model="password"
        dark
        lazy-rules
        outlined
        autocomplete="current-password new-password"
        color="white"
        data-cy="password"
        label="PASSWORD"
        :rules="[val => !!val || '*Field is required']"
        :type="isPwd ? 'password' : 'text'"
        @keyup.enter="onSubmit(); $event.target.blur()"
      )
        template(v-slot:append)
          q-icon.cursor-pointer(
            :name="isPwd ? 'visibility_off' : 'visibility'"
            @click="isPwd = !isPwd"
          )
      q-btn(
        fullwidth
        data-cy="submit"
        text-color="white"
        label="REGISTER"
        type="submit"
        :loading="loading"
      ).cobalt-magenta-180.full-width
        template(v-slot:loading)
          q-spinner-gears
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: null,
      isPwd: true,
      loading: false,
      password: null
    }
  },
  methods: {
    onSubmit () {
      this.loading = true
      this.$refs.clientLogin.validate()
        .then(() => {
          this.$fb.loginWithEmail(this.email, this.password)
            .then(result => {
              this.$router.push({ name: 'Dashboard' })
              this.onReset()
            })
            .catch(err => {
              this.$q.notify({
                color: 'negative',
                message: `${err}`
              })
              this.onReset()
            })
        })
    },
    onReset () {
      // Reset User Data
      this.email = null
      this.password = null

      // Reset Form State
      this.loading = false
      this.$refs.clientLogin.resetValidation()
    }
  }
}
</script>

<style lang="stylus">
// $
  +b('wrapper')
    +m('login')
      height 100vh
      +b('logo')
        display block
        margin 2em auto 1em
      +b('tag')
        margin 0 auto
      +b('q-form')
        min-height 20vh
        max-width 30em
        margin 10em auto
        position relative

        +b('q-field__control.text-negative')
          &::before
            border-color rgba(0,0,0,0)
</style>
