<template lang='pug'>
  q-page(padding).wrapper.cobalt-magenta-180-alpha-20-right-bottom
    .wrapper__content.creator-registration.text-center
      h4.title Join Blis
      .instructions Sign up. Fill out your profile. View jobs!
      q-form(
        ref="phoneNumberRegistrationForm"
        @submit="onSubmit"
      ).registration-form
        label(for="phoneNumber").text-left.text-bold.q-my-md.block
          | Phone number
        q-input(
          v-model="phoneNumber"
          id="phoneNumber"
          dense
          dark
          outlined
          color="white"
          hint="+1(###) ###-####"
          mask="+#(###) ###-####"
          placeholder="Phone Number"
          :rules="[val => !!val || '*Field is required']"
          @input="writeStateData({ prop: 'phoneNumber', value: phoneNumber })"
          @keyup.enter="onSubmit"
        )
        q-btn.q-px-xl.full-width(
          rounded
          id='phoneNumberSubmit'
          color="white"
          label='NEXT'
          text-color="black"
          :disable="phoneSubmitDisabled"
          :loading="loading"
          type="submit"
        ).submit
          template(v-slot:loading)
            q-spinner-gears
              | ...working
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { setTimeout } from 'timers'

export default {
  name: 'PhoneNumber',
  mounted () {
    this.recaptchaVerifier = this.$fb.recaptcha('phoneNumberSubmit')
  },
  computed: {
    ...mapState({
      creatorRegistrationData: state => state.creatorRegistration
    }),
    phoneSubmitDisabled () {
      // const regex = new RegExp(/^(\+[1])((\(\d{3}\)\s)(\d{3}-\d{4}))$/)
      // return !regex.test(this.user.phoneNumber)
      return false
    }
  },
  data () {
    return {
      loading: false,
      phoneNumber: null
    }
  },
  methods: {
    ...mapMutations('onboarding', {
      writeStateData: 'UPDATE_USER_DATA'
    }),
    onSubmit () {
      this.$refs.phoneNumberRegistrationForm.validate()
        .then(success => {
          if (success) {
            this.loading = true
            this.$fb.registerUserWithPhoneNumber(
              this.phoneNumber,
              this.recaptchaVerifier
            )
              .then((confirmationResult) => {
                this.confirmationResult = confirmationResult
                this.loading = false
                this.$router.push({ name: 'Verification', params: { confirmationResult } })
                delete this.recaptchaVerifier
              })
              .catch(error => {
                console.log('Error: ', error)
                setTimeout(() => {
                  this.loading = false
                }, 500)
                // TODO: Handle recaptcha error reset
                // this.recaptchaVerifier.render().then((widgetId) => {
                //   grecaptcha.reset(widgetId)
                // })
              })
          }
        })
    }
  }
}
</script>

<style lang="stylus">
// $
+b('wrapper')
  +b('creator-registration')
    margin 0 auto 0
    padding 4em 3.75em 0
    +b('title')
      margin-bottom 3rem
      font-size 2em
    +b('instructions')
      margin auto
      max-width 28em
      font-size 1.125em
    +e('registration-form')
      max-width 22.5em
      margin auto
      +b('desc')
        font-family inter-bold
        margin-bottom 1.25rem
      +b('submit')
        margin 5em 0 13.25em
        width 15rem
      +b('q-field__bottom')
        padding-top 5px
.grecaptcha-badge
  display none!important
</style>
