 <template lang='pug'>
   q-page(padding).wrapper.cobalt-magenta-180-alpha-20-right-bottom
    .wrapper__content.creator-registration.text-center
      h4.title Join Blis
      .instructions Sign up. Fill out your profile. View jobs!
      q-form(
        @submit="processVerificationCodeAndAuthenticate"
        ref="validationRegistrationForm"
      ).registration-form
        label(for="project-type").text-left.text-bold.q-my-md.block
          | Verifcation code
        q-input(
          v-model='verificationCode'
          dark
          dense
          outlined
          color='white'
          hint="6 Digit Code"
          label='Enter the verifcation code'
          type='text'
          @keyup.enter='processVerificationCodeAndAuthenticate'
        )
        q-btn.q-px-xl.full-width(
          rounded
          id='phoneNumberSubmit'
          color="white"
          label='SUBMIT'
          text-color="black"
          :disable="!verificationSubmitDisabled"
          :loading="loading"
          type="submit"
        ).submit
          template(v-slot:loading)
            q-spinner-gears
              | ...working
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
export default {
  name: 'Verification',
  props: {
    confirmationResult: {
      type: Object,
      required: true
    }
  },
  created () {},
  computed: {
    verificationSubmitDisabled () {
      return this.verificationCode.length > 5
    }
  },
  data () {
    return {
      loading: false,
      verificationCode: ''
    }
  },
  methods: {
    ...mapActions('onboarding', {
      verifyUserAndAuthenticateAction: 'verifyUserAndAuthenticate'
    }),
    ...mapMutations({
      setCurrentUser: 'UPDATE_USER_DATA'
    }),
    async processVerificationCodeAndAuthenticate () {
      this.loading = true
      const { confirmationResult, verificationCode } = this
      const payload = {
        confirmationResult,
        verificationCode
      }
      try {
        const currentUser = await this.verifyUserAndAuthenticateAction(payload)
        this.setCurrentUser(currentUser)
        this.$router.push({ name: 'UserProfile' })
      } catch (err) {
        this.$q.notify({
          message: err,
          color: 'negative'
        })
      }
      this.loading = false
    }
  }
}
</script>

<style lang="stylus">
// $
  +b('wrapper')
    color white
    header
      height 5.5em
    +e('logo')
      display block
      height 1.55em
      margin auto
    .greeting
      margin 0
    +b('verification')
      display block
      margin auto
      max-width 40em
      button
        background linear-gradient(90deg, #0283c4 0%,#c2268f 100%)
        display block
        margin 4em auto 0
        max-width 35em
        width 100%
  .grecaptcha-badge
    display none!important
</style>
