<template lang="pug">
  section.user.user__messages.text-center
    .text(v-if="!chatWidgetOpen")
      h6(v-if="network.length > 0")
        | Contact {{network[0].name}}
      q-btn(
        color="bls_sky"
        label="Start Chat"
        @click="launchChat"
      )
    chat-widget(
      v-if="chatWidgetOpen"
      :currentUser="currentUser"
      :messages='messages'
      @sendMessage="sendChatMessage"
    )

</template>

<script>
import Chatkit from '@pusher/chatkit-client'
import chatWidget from './messaging/ChatWidget.vue'

export default {
  name: 'Messages',
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  components: {
    chatWidget
  },
  data () {
    return {
      currentRoom: null,
      messages: [],
      newMessage: '',
      chatWidgetOpen: false,
      isLoading: false,
      network: []
    }
  },
  firestore () {
    return {
      network: this.$fb.firestore().collection('users').doc(this.currentUser.id).collection('network')
    }
  },
  methods: {
    connectToRoom (id, messageLimit = 100) {
      this.messages = []

      return this.currentUser.pusherCurrentUser
        .subscribeToRoomMultipart({
          roomId: `${id}`,
          messageLimit,
          hooks: {
            onMessage: message => {
              const formattedMessage = {
                name: message.userStore.users[message.senderId].name,
                textMessage: message.parts.filter(p => p.partType === 'inline')[0].payload.content,
                timeSent: message.createdAt
              }
              this.messages = [ ...this.messages, formattedMessage ]
            }
          }
        })
        .then(currentRoom => {
          this.currentRoom = currentRoom
          this.currentUser.pusherCurrentUser.fetchMultipartMessages({
            roomId: '19397952',
            direction: 'older',
            limit: 10
          })
            .then(messages => {
              this.messages = this.formatMessages(messages)
            })
            .catch(err => console.error('THERE WAS AN ERROR RETRIEVING OLDER MESSAGES: ', err))
        })
    },
    formatMessages (messages) {
      const formattedMessages = messages.map(m => {
        return {
          name: m.userStore.users[m.senderId].name,
          textMessage: m.parts.filter(p => p.partType === 'inline')[0].payload.content,
          timeSent: m.createdAt
        }
      })
      return formattedMessages
    },
    launchChat () {
      const userId = this.currentUser.id
      this.chatWidgetOpen = true
      this.$axios
        .post('http://localhost:5200/users', { userId })
        .then(() => {
          const tokenProvider = new Chatkit.TokenProvider({
            url: 'http://localhost:5200/authenticate'
          })

          const chatManager = new Chatkit.ChatManager({
            instanceLocator: 'v1:us1:4e892e30-e493-4c90-b362-6fb4dce053dd',
            userId,
            tokenProvider
          })

          return chatManager.connect()
            .then(pusherCurrentUser => {
              this.currentUser.pusherCurrentUser = pusherCurrentUser
              this.connectToRoom('19397952', 0)
            })
        })
        .catch(err => console.error('CHAT ROOM ERROR:', err))
    },
    sendChatMessage (message) {
      if (message.trim() === '') return

      this.currentUser.pusherCurrentUser.sendMessage({
        text: message,
        roomId: '19397952'
      })
    }
  }
}
</script>

<style>
</style>
