<template lang='pug'>
  section.user.user__network
    | User's Network
    .contacts(v-if="userContacts")
      q-list
        q-item(
          v-for="(contact, index) in userContacts"
          :key="userContacts[index].id"
        ).contact
          q-item-section(avatar)
            q-avatar(color='primary' text-color='white')
              img(:src="contact.user.profilePhoto")
          q-item-section
            q-item-label {{ contact.user.firstName }}
            q-item-label(caption lines='1').text-white Director, Producer
          q-item-section(side='')
            q-icon(name='chat_bubble')
</template>

<script>
export default {
  name: 'Network',
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  created () {
    console.log('NETWORK: ', this.userContacts)
  },
  data () {
    return {
      userContacts: []
    }
  },
  firestore () {
    const db = this.$fb.firestore()
    const ownerRef = db.collection('users').doc(this.currentUser.id)
    return {
      userContacts: db.collection('contacts')
        .where('ownerRef', '==', ownerRef)
    }
  }
}
</script>

<style>
</style>
