<template lang="pug">
  q-form.text-center.settings(
    @submit="updateUserData"
  )
    .settings-controls.row.justify-between
      q-item
        q-btn(
          flat
          color="white"
          @click="closeDialog"
        )
          template(v-slot:default)
            q-item-section(side)
              q-avatar(
                color="white"
                text-color="negative"
                icon="clear"
              )
            q-item-section CANCEL
      q-item
        q-btn(
          flat
          color="white"
          type="submit"
        )
          template(v-slot:default)
            q-item-section SAVE
            q-item-section(side)
              q-avatar(
                color="bls_caribbean"
                text-color="white"
                icon="done"
              )

    .form-settings.block
      .profile-photo(
        @click="showPhotoUpload"
      )
        .default-user-image(v-if="showDefaultPhoto()")
          q-avatar(size="180px")
            q-icon(name="person" size="180px")
          span.block.text-caption.inst Click here to <br>add a profile photo
        .profile-photo
          q-avatar(
            v-if="!showDefaultPhoto()"
            size="180px"
            @click='showPhotoUpload'
          ).q-mb-xl
            q-img(
              :src='currentUser.profilePhoto'
            )
              template(v-slot:loading)
                q-spinner-gears(color="white")

      .sections
        .section-information
          .form-fields
            .row.justify-between.items-center.q-mb-lg
              label(for="name").col-3 Name
              q-input(
                id="name"
                v-model="fullName"
                borderless
                dark
                dense
                color="white"
                type="text"
              ).col
            .row.justify-between.items-center.q-mb-lg
              label(for="roles").col-3 Roles
              q-list.col.block
                q-item(
                    v-for="(role, key, index) in roles"
                    :key="key"
                ).block.text-left.q-pa-none
                  q-chip(
                    v-model="$data['role_' + (index + 1)]"
                    removable
                    clickable
                    @remove="removeRole(key, index)"
                  )
                    | {{ role.name }}
                .column(v-if="showRolesSelection()")
                  label.q-mb-md New Role(s):
                  q-select(
                    id="roles"
                    v-model="addedRoles"
                    ref="rolesSelect"
                    dark
                    dense
                    emit-value
                    map-options
                    multiple
                    options-dark
                    outlined
                    color="white"
                    max-values="2"
                    :options="availableRoles"
                    :option-label="opt => opt.name"
                    :option-value="opt => opt"
                    :rules="[val => !!val || '*Field is required']"
                  ).block
                    template(v-slot:append)
                      q-icon(
                        v-if="addedRoles.length !== 0"
                        class="cursor-pointer"
                        name="clear"
                        @click.stop="addedRoles = []"
                      )

            .row.justify-between.items-center.q-mb-lg
              label(for="location").col-3 Location
              q-input(
                id="location"
                v-model="location"
                borderless
                dark
                dense
                color="white"
                type="text"
              ).col

        .section-information
          p.desc PERSONAL INFORMATION
            .form-fields
              .row.justify-between.items-center.q-mb-lg
                label(for="email").col-3 Email
                q-input(
                  id="email"
                  v-model="email"
                  borderless
                  dark
                  dense
                  color="white"
                  type="text"
                ).col
              .row.justify-between.items-center.q-mb-lg
                label(for="phoneNumber").col-3 Phone
                q-input(
                  id="phoneNumber"
                  v-model="phoneNumber"
                  borderless
                  dark
                  dense
                  color="white"
                  type="text"
                ).col

        .section-information
          p.desc BLOCKED USERS

          q-btn(
            outline
            label="VIEW BLOCKED USERS"
            @click="showBlockedUsers"
          ).full-width

        .section-information

          P.desc CONTACT US

          .inter-wrap
            label.block Have a question or comment?
            q-btn(
              outline
              label="CONTACT US"
              type="a"
              target="_blank"
              href="https://blis.io/#/contactUs"
            ).full-width

            p.inst To view our Terms of Service and Privacy Policy, please visit our site:&nbsp;
              a(href="https://blis.io/#/terms" target="_blank")
                | blis.io/#/Terms
              |  or
              a(href="https://blis.io/#/privacy" target="_blank")
                |  blis.io/#/privacy

        .section-information
          P.desc ACCOUNT

          q-btn(
            outline
            label="SIGN OUT"
            @click="logout"
          ).full-width

          q-btn(
            flat
            label="Delete Your Account"
            @click="deleteAccount"
          ).full-width.delete

      q-dialog(
        v-model='photoUpload'
        transition-hide="scale"
        transition-show="scale"
      )
        q-card
          p.text-dialog.bg-bls_midnight.q-mb-none.q-pa-sm
            span(v-if="photoUploading")  Your photo is uploading...
               q-spinner-gears
            span(v-else) Please upload a new photo.
          q-input(
            filled
            bg-color="bls_midnight"
            color='white'
            type='file'
            value='upload'
            @change='uploadProfileImage'
          )

      q-dialog(
        v-model="deleteAccountDialog"
      )
        q-card.bg-bls_charcoal
          q-card-section
            .text-h6 Delete Your Blis Account?
          q-card-section
            | Are you sure you want to delete your Blis account. More legal information regarding the account, and balances
          q-card-actions(align='right')
            q-btn(
              flat
              v-close-popup
              color='negative'
              label='OK'
            )

      q-dialog(
        v-model="blockedUsersDialog"
      )
        q-card.bg-bls_charcoal
          q-card-section
            .text-h6 Blocked Blis Users
          q-card-section
            | A list of blocked users
          q-card-actions(align='right')
            q-btn(
              flat
              v-close-popup
              color='info'
              label='OK'
            )
</template>

<script>
import { mapState } from 'vuex'
import { concatFullName, tokenizeFullName } from '../../utils/utilFunctions.js'
export default {
  name: 'UserSettings',
  computed: {
    ...mapState({
      currentUser: state => state.user.currentUser
    })
  },
  data () {
    const state = this.$store.state.user.currentUser
    return {
      availableRoles: [],
      blockedUsersDialog: false,
      deleteAccountDialog: false,
      email: state.email,
      fullName: `${state.firstName} ${state.middleName} ${state.lastName}`,
      location: state.location.city,
      phoneNumber: state.phoneNumber,
      photoUpload: false,
      photoUploading: false,
      roles: state.roles,
      removedRoles: [],
      addedRoles: [],
      role_1: true,
      role_2: true
    }
  },
  firestore () {
    const db = this.$fb.firestore()
    return {
      availableRoles: db.collection('roles').orderBy('name')
    }
  },
  methods: {
    closeDialog () {
      this.$store.dispatch('profile/setEditDialog', false)
    },
    deleteAccount () {
      this.deleteAccountDialog = true
    },
    logout () {
      this.$fb.auth().signOut()
        .then(() => {
          this.closeDialog()
          console.info('User logged off')
        })
        .catch(err => console.error('ERROR WITH USER LOGOFF: ', err))
    },
    processFullName (e) {
      Object.assign(this, this.tokenizeFullName(e))
    },
    removeRole (key, index) {
      let value = this.roles[key]
      value.id = key
      this.removedRoles.push(value)
    },
    setRoles () {
      const roleRefs = []
      if (this.removedRoles.length > 0) {
        this.removedRoles.forEach((v, i) => {
          delete this.roles[this.removedRoles[i].id]
        }, this)
      }
      if (this.addedRoles.length > 0) {
        this.addedRoles.forEach((v, i) => {
          this.roles[this.addedRoles[i].id] = v
        }, this)
      }
      Object.keys(this.roles).forEach((v) => {
        roleRefs.push(`/roles/${v}`)
      })
      return {
        roles: this.roles,
        roleRefs
      }
    },
    showBlockedUsers () {
      this.blockedUsersDialog = true
    },
    showDefaultPhoto () {
      return this.currentUser.profilePhoto === '' ||
        this.currentUser.profilePhoto === null ||
        this.currentUser.profilePhoto === undefined
    },
    showPhotoUpload () {
      this.photoUpload = true
    },
    showRolesSelection () {
      const roleAmount = Object.keys(this.roles).length
      const removedRoleAmount = this.removedRoles.length
      if (roleAmount < 2) {
        return true
      } else if (removedRoleAmount > 0) {
        return true
      } else {
        return false
      }
    },
    uploadProfileImage (e) {
      const firestore = this.$fb.firestore()
      const file = e.target.files[0]
      const fileSuffix = file.type.split('/')[1]
      const profileImageStorageRef = this.$fb.storage().ref(`${this.currentUser.id}/profilePhoto/profilePhoto.` + fileSuffix)
      const userRef = firestore.collection('users').doc(this.currentUser.id)
      this.photoUploading = true

      profileImageStorageRef.put(file)
        .then((snapShot) => {
          snapShot.ref.getDownloadURL()
            .then((link) => {
              this.writeStateData('profilePhoto', link, 'profile/updateUserProfileData')
              userRef.update({
                profilePhoto: link
              })
              this.photoUpload = false
              this.photoUploading = false
            })
        })
    },
    updateUserData () {
      const {
        email,
        fullName,
        location,
        phoneNumber
      } = this

      let userData = {
        email,
        ...this.tokenizeFullName(fullName),
        'location.city': location,
        phoneNumber,
        ...this.setRoles()
      }

      this.currentUser.ownerRef.update(userData)
        .then(() => {
          this.closeDialog()
        })
        .catch(err => console.error('THERE WAS AN ERROR SAVING THE USER DATA: ', err))
    },
    concatFullName,
    tokenizeFullName
  }
}
</script>

<style lang="stylus">
  +b('settings')
    min-width 656px
    @media(max-width $breakpoint-sm)
      min-width 0
    +b('settings-controls')
      .q-item
        @media(max-width $breakpoint-sm)
          padding 8px 0!important
    +b('form-settings')
      .default-user-image
        cursor pointer
        color white
        @media(max-width $breakpoint-sm)
          margin-bottom 2em
        .q-icon
          @media(max-width $breakpoint-sm)
            font-size 1em!important

      .profile-photo
        cursor pointer
        .q-avatar
          @media(max-width $breakpoint-sm)
            margin-top 1rem
            height .75em
            width .75em

    +b('section-information')
      max-width 100%
      border-top solid 1px rgba(255,255,255, .50)
      padding .625rem 1.5rem 3rem
      @media(max-width $breakpoint-sm)
        padding-left .5rem
        padding-right .5rem

      &:first-child
        border-top none !important

      +b('form-fields')
        max-width 20.5em
        margin auto
        label
          font-family inter-bold
          text-align left
        input
          background rgba(101,104,110,.20)
          border-radius 6px
          padding .5em
          font-family inter-bold

      +b('inter-wrap')
        max-width 20.5em
        text-align left
        margin auto

        label
          margin-bottom 1rem

        .inst
          font-size .875em
          margin-top 2.5em

          a
            text-decoration none
            color $bls_caribbean

      .q-btn
        max-width 20.5rem
        font-size .625em
        padding .95em 0

        &.delete
          margin-top 1rem
          font-family inter-bold

      +b('desc')
        color rgba(255,255,255,.6)
        font-family inter-regular
        font-size .625em
        text-align left
        margin-bottom 2rem

</style>
