<template lang="pug">
  .wrapper__user-content
    .biography(v-if="showBioForm")
      bio-form
    .links(v-if="showLinksForm")
      links-form
    .videos(v-if="showVideosForm")
      videos-form
    .past-projects(v-if="showPastProjectsForm")
      projects-form

</template>

<script>
import BioForm from '../forms/user/BioForm.vue'
import LinksForm from '../forms/user/LinksForm.vue'
import ProjectsForm from '../forms/user/ProjectsForm.vue'
import VideosForm from '../forms/user/VideosForm.vue'
import { mapState } from 'vuex'
export default {
  name: 'UserContent',
  components: {
    BioForm,
    LinksForm,
    ProjectsForm,
    VideosForm
  },
  created () {},
  computed: {
    ...mapState({
      formType: state => state.user.profile.formType
    }),
    showBioForm () {
      return this.formType === 'bio'
    },
    showLinksForm () {
      return this.formType === 'links'
    },
    showPastProjectsForm () {
      return this.formType === 'pastProjects'
    },
    showVideosForm () {
      return this.formType === 'videos'
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style>
</style>
