<template lang="pug">
  .wrapper
    .wrapper--users-overview test
    //- q-table(
    //-   v-if="creators"
    //-   :data="creators"
    //-   :columns="columns"
    //-   :pagination="pagination.sync"
    //-   row-key="id"
    //-   :title="capitalize(tableDataType)"
    //- )
    //-   template(slot="body" slot-scope="props")
    //-     q-tr(:props="props" class="cursor-pointer")
    //-       q-td(
    //-         colspan=4
    //-       )
    //-         template(slot="default")
    //-           .row.no-wrap
    //-             q-expansion-item.full-width
    //-               template(slot="header")
    //-                 .user-filters.row.justify-between
    //-                   .col-3(v-for="col in props.cols" :key="col.name")
    //-                     | {{ col.value }}

    //-               q-tabs(
    //-                 v-model="tab"
    //-                 inverted
    //-                 align="justify"
    //-                 active-color="accent"
    //-               )
    //-                 q-tab(default name="userInfo" icon="code" label="User Info")
    //-                 q-tab(name="interviewTime" icon="code" label="Interview time")
    //-                 q-tab(name="notes" icon="code" label="Notes")
    //-               q-tab-panels(v-model="tab" animated swipeable)
    //-                 q-tab-panel.user-info(name="userInfo")
    //-                   | User info
    //-                 q-tab-panel.interview-time(name="interviewTime")
    //-                   | A time slot
    //-                 q-tab-panel.user-notes(name="notes")
    //-                   | Notes widget
    //-             q-checkbox(
    //-               v-model="props.row.verificationStatus"
    //-               left-label
    //-               label="Verification"
    //-               false-value="pending"
    //-               true-value="accepted"

    //-             )

</template>

<script>
import { format } from 'quasar'
const { capitalize } = format
export default {
  name: 'UsersOverview',
  props: {
    applications: {
      type: Array,
      required: true
    },
    companies: {
      type: Array,
      required: true
    },
    creators: {
      type: Array,
      required: true
    },
    jobs: {
      type: Array,
      required: true
    }
  },
  computed: {
    // need json file for separte table
    // configuration
  },
  created () {
    console.log(this.companies)
    console.log(this.creators)
  },
  data () {
    return {}
  },
  methods: {
    capitalize,
    setDataSource () {},
    setTableTitle () {}
  }
}
</script>

<style lang="stylus">
// $
+b('wrapper')
  +m('users-overview')
    padding 1em
    +b('user-filters')
      width 100%
    .q-expansion-item__toggle-icon
      display none

</style>
