<template lang="pug">
  .wrapper
    .wrapper__content.applications
      | Companies Table
</template>

<script>
export default {
  name: 'AdminCompanies',
  data () {
    return {}
  }
}
</script>

<style>
</style>
