<template lang="pug">
  .wrapper
    .creators
      q-table(
        v-if="creators"
        :data="pendingCreators"
        :columns="columns"
        :pagination="pagination.sync"
        row-key="id"
        title="Creators - Pending"
      ).q-mb-xl
        template(slot="body" slot-scope="props")
          q-tr(:props="props" class="cursor-pointer")
            q-td(
              colspan=4
            )
              template(slot="default")
                .row.no-wrap
                  q-expansion-item.full-width
                    template(slot="header")
                      .user-filters.row.justify-between
                        .col-3(v-for="col in props.cols" :key="col.name")
                          | {{ col.value }}

                    q-tabs(
                      v-model="tab"
                      inverted
                      align="justify"
                      active-color="accent"
                    )
                      q-tab(default name="userInfo" icon="code" label="User Info")
                      q-tab(name="interviewTime" icon="code" label="Interview time")
                      q-tab(name="notes" icon="code" label="Notes")
                    q-tab-panels(v-model="tab" animated swipeable)
                      q-tab-panel.user-info(name="userInfo")
                        | User info
                      q-tab-panel.interview-time(name="interviewTime")
                        | A time slot
                      q-tab-panel.user-notes(name="notes")
                        | Notes widget
                  q-btn(
                    v-model="props.row.verificationStatus"
                    label="Update Verificaton Status"
                    @click="showVerificationStatusDialog(props.row, 'accepted')"
                  )

      q-table(
        v-if="creators"
        :data="backgroundCheckCreators"
        :columns="columns"
        :pagination="pagination.sync"
        row-key="id"
        title="Creators - Background Check"
      ).q-mb-xl
        template(slot="body" slot-scope="props")
          q-tr(:props="props" class="cursor-pointer")
            q-td(
              colspan=4
            )
              template(slot="default")
                .row.no-wrap
                  q-expansion-item.full-width
                    template(slot="header")
                      .user-filters.row.justify-between
                        .col-3(v-for="col in props.cols" :key="col.name")
                          | {{ col.value }}

                    q-tabs(
                      v-model="tab"
                      inverted
                      align="justify"
                      active-color="accent"
                    )
                      q-tab(default name="userInfo" icon="code" label="User Info")
                      q-tab(name="interviewTime" icon="code" label="Interview time")
                      q-tab(name="notes" icon="code" label="Notes")
                    q-tab-panels(v-model="tab" animated swipeable)
                      q-tab-panel.user-info(name="userInfo")
                        | User info
                      q-tab-panel.interview-time(name="interviewTime")
                        | A time slot
                      q-tab-panel.user-notes(name="notes")
                        | Notes widget
                  q-btn(
                    v-model="props.row.verificationStatus"
                    label="Update Verificaton Status"
                    @click="showVerificationStatusDialog(props.row, 'accepted')"
                  )

      q-table(
        v-if="creators"
        :data="verifiedCreators"
        :columns="columns"
        :pagination="pagination.sync"
        row-key="id"
        title="Creators - Verified"
      )
        template(slot="body" slot-scope="props")
          q-tr(:props="props" class="cursor-pointer")
            q-td(
              colspan=4
            )
              template(slot="default")
                .row.no-wrap
                  q-expansion-item.full-width
                    template(slot="header")
                      .user-filters.row.justify-between
                        .col-3(v-for="col in props.cols" :key="col.name")
                          | {{ col.value }}

                    q-tabs(
                      v-model="tab"
                      inverted
                      align="justify"
                      active-color="accent"
                    )
                      q-tab(default name="userInfo" icon="code" label="User Info")
                      q-tab(name="interviewTime" icon="code" label="Interview time")
                      q-tab(name="notes" icon="code" label="Notes")
                    q-tab-panels(v-model="tab" animated swipeable)
                      q-tab-panel.user-info(name="userInfo")
                        | User info
                      q-tab-panel.interview-time(name="interviewTime")
                        | A time slot
                      q-tab-panel.user-notes(name="notes")
                        | Notes widget
                  q-btn(
                    v-model="props.row.verificationStatus"
                    label="Update Verificaton Status"
                    @click="showVerificationStatusDialog(props.row, 'pending')"
                  )
      q-dialog(
        v-model="verificationStatusDialog"
        @before-hide="setBlur"
      )
        q-card.text-black
          q-card-section.row.items-center
            p Are you sure you want to update the user's verification status? This will send an automated email.
          q-card-actions(align="right")
            q-btn(flat label="Cancel" color="primary" v-close-popup)
            q-btn(
              flat
              label="Update Verification Status"
              color="primary"
              v-close-popup
              @click="updateVerificationStatus"
            )
</template>

<script>
import { format } from 'quasar'
const { capitalize } = format
export default {
  name: 'AdminCompanies',
  props: {
    creators: {
      type: Array,
      required: true
    }
  },
  computed: {
    columns () {
      return [
        {
          name: 'companyName',
          required: true,
          label: 'Creator Name',
          align: 'left',
          field: row => `${row.firstName} ${row.lastName}`,
          sortable: true
        },
        {
          name: 'location',
          required: true,
          label: 'Location',
          align: 'center',
          field: row => row.location.city,
          sortable: true
        },
        {
          name: 'status',
          required: true,
          label: 'Verification Status',
          align: 'right',
          field: row => row.verificationStatus,
          sortable: true
        },
        {
          name: 'toggle',
          required: true,
          label: '',
          align: 'right',
          field: '',
          sortable: false
        }
      ]
    },
    verifiedCreators () {
      return this.creators.filter(c => c.verificationStatus === 'accepted')
    },
    pendingCreators () {
      return this.creators.filter(c => c.verificationStatus === 'pending')
    },
    backgroundCheckCreators () {
      return this.creators.filter(c => c.verificationStatus === 'backgroundCheck')
    }
  },
  created () {},
  data () {
    return {
      pagination: {
        sortBy: 'companyName',
        descending: false,
        page: 2,
        rowsPerPage: 5
      },
      tab: 'userInfo',
      selectedUser: null,
      verificationStatusDialog: false,
      verificationStatusValue: ''
    }
  },
  methods: {
    setBlur () {
      this.$emit('setBlur')
    },
    showVerificationStatusDialog (user, action) {
      this.verificationStatusDialog = true
      this.selectedUser = user
      this.verificationStatusValue = action
      this.setBlur()
    },
    updateVerificationStatus () {
      debugger
      const userRef = this.$fb.firestore().collection('users').doc(this.selectedUser.id)
      userRef.update({
        verificationStatus: this.verificationStatusValue
      })
        .then(() => {
          this.selectedUser = null
        })
    },
    capitalize
  }
}
</script>

<style lang="stylus">
// $
+b('wrapper')
  +b('creators')
    padding 1em
    +b('user-filters')
      width 100%
    .q-expansion-item__toggle-icon
      display none
</style>
