<template lang="pug">
  .wrapper
    .wrapper__content.admin-overview
      | Jobs Table
</template>

<script>
export default {
  name: 'AdminJobs',
  data () {
    return {}
  }
}
</script>

<style>
</style>
