<template lang='pug'>
  .wrapper.cobalt-magenta-180-alpha-20-right-bottom
    .wrapper__content.authentication.column.justify-start
      img.logo(src='statics/logo.svg' alt="blis-logo")
      h6.desc Which type of account would you like to&nbsp;
        span(v-if="isRegistration") create?
        span(v-else) log into?
      .desc Looking to&nbsp;
        router-link(
          v-if="isRegistration"
          data-cy="login-link"
          to="/"
        )
          | login
        router-link(
          v-else
          data-cy="registration-link"
          to="/registration"
        )
          | register
        | &nbsp;as a Client or Creator?

      .row.justify-center.q-gutter-md.q-mt-lg
        q-card(@click="accountSelection('creator')" data-cy="creators").col-sm-3.col-xs-12.account-type
          q-img(src='/statics/creators.png' basic)
            .absolute-bottom.text-body1.text-center.text-bold
              | Creator
        q-card(@click="accountSelection('client')" data-cy="clients").col-sm-3.col-xs-12.account-type
          q-img(src='/statics/clients.png' basic)
            .absolute-bottom.text-body1.text-center.text-bold
              | Client
</template>

<script>
// import { writeStateData } from '../utils/utilFunctions.js'
import { mapState } from 'vuex'

export default {
  name: 'PageIndex',
  computed: {
    ...mapState(['user']),
    isRegistration () {
      return this.routeName === 'registration'
    },
    routeName () {
      return this.$route.name.toLowerCase()
    }
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    accountSelection (type) {
      if (this.isRegistration) {
        switch (type) {
          case 'client':
            this.$router.push({ name: 'ClientRegistration' })
            break
          case 'creator':
            this.$router.push({ name: 'CreatorRegistration' })
            break
          default:
            return
        }
      } else {
        switch (type) {
          case 'client':
            this.$router.push({ name: 'ClientLogin' })
            break
          case 'creator':
            this.$router.push({ name: 'CreatorLogin' })
            break
          default:
            return
        }
      }
      console.log('USER SELCTION', this.routeName, type)
    }
  }
}
</script>

<style lang="stylus">
// $
  +b('wrapper')
    +e('content')
      padding 2em
    +b('authentication')
      height 100vh
      +b('logo')
        display block
        height 1.55em
        margin-top 2em
      +b('tag')
        max-width 24em
        margin 2em auto 0
      +b('desc')
        margin 0 auto
        a
          text-decoration underline
          color white
      +b('account-type')
        cursor pointer

</style>
