<template lang="pug">
  .wrapper-dialog.bg-bls_charcoal
    .wrapper-dialog__content.text-center
      user-content(v-if="showUserContentDialog")
      user-settings(v-if="showUserSettingsDialog")
</template>

<script>
import UserContent from '../components/user/UserContent.vue'
import UserSettings from '../components/user/UserSettings.vue'
import { mapState } from 'vuex'
export default {
  name: 'EditData',
  components: {
    UserContent,
    UserSettings
  },
  computed: {
    ...mapState({
      formType: state => state.user.profile.formType
    }),
    showUserContentDialog () {
      const contentTypes = ['bio', 'links', 'pastProjects', 'videos']
      return contentTypes.includes(this.formType)
    },
    showUserSettingsDialog () {
      return this.formType === 'userSettings'
    }
  },
  data () {
    return {
      userContentData: {},
      userSettingsData: {}
    }
  },
  methods: {}
}
</script>

<style lang='stylus' scoped>
// $
+b('wrapper-dialog')
  border-radius 12px
  background rgba(23,28,28, .85)
  padding 1em 1em 2em
  @media (min-width: 600px)
      max-width 700px !important
  @media(max-width $breakpoint-sm)
    padding-left .5em
    padding-right .5em
  +e('content')
    .q-btn
      width 280px
  .q-list
    position absolute
    right 0
    top 2px
</style>
