<template lang="pug">
  .wrapper-footer
    .bottom-nav.row.justify-around
      .wrapper-footer__footer-logo.col-sm-3.col-xs-12.q-mb-xl
        img(
          src="/statics/logo.svg"
          height="24"
          @click="goHome"
        )
      .company.col-sm-3.col-xs-12
        h6.wrapper-footer__footer-title Company
        .wrapper-footer__footer-links
          .link(@click="routeUser('about')").block
            | About Us
          .link.block
            a(href="https://angel.co/company/getblis/jobs" target="_blank")
              | Careers
      .contact.col-sm-3.col-xs-12
        h6.wrapper-footer__footer-title Contact Us
        .wrapper-footer__footer-links
          .link(@click="routeUser('contactUs')").block
            | Contact
      .connect.col-sm-3.col-xs-12
        h6.wrapper-footer__footer-title Connect
        .wrapper-footer__footer-links
          .link.block
            a(href="https://www.facebook.com/getblis/" target="_blank")
              | Facebook
          .link.block
            a(href="https://www.linkedin.com/company/blisapp/about/" target="_blank")
              | LinkedIn
          .link.block
            a(href="https://angel.co/company/getblis" target="_blank")
              | AngelList
    .wrapper-copyright.row.no-wrap.justify-around
      .tos.col-sm-2.col-4
        a(href="https://blis.io/#/terms" target="_blank")
          | Terms of Service
      .privacy.col-2
        a(href="https://blis.io/#/privacy" target="_blank")
          | Privacy
      .copyright.col.text-right
        | ©2019 Blis.io
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {}
  },
  methods: {
    goHome () {
      this.$router.push({ path: '/' })
    },
    routeUser (route) {
      this.$router.push({ path: `/${route}` })
    }
  }
}
</script>

<style lang="stylus">
  // $
  +b('wrapper-footer')
    // padding 1.75em 3.75em
    // @media(max-width: $breakpoint-xs)
    //   padding 2em 4em
    max-width 1240px
    margin 0 auto
    +b('bottom-nav')
      padding 1.75em 3.75em
    .company, .contact, .connect
      margin-bottom 2em
    +e('footer-logo')
      height 1.3125em
    +e('footer-title')
      margin 0 0 1em 0
    +e('footer-links')
      color white
      +b('link')
        cursor pointer
        a
          text-decoration none
          color white
    +b('wrapper-copyright')
      border-top solid 1px rgba(255,255,255,.15)
      padding 1rem 3.75rem 2rem
      font-size .75em
      color rgba(255,255,255, .25)
      @media(max-width $breakpoint-sm)
        padding-left 1.2rem
        padding-right 1.2rem
      a
        text-decoration none
        color rgba(255,255,255,.25)

</style>
