// app global css
  @import 'brand-classes.styl'
  @import 'docsearch.styl'
  @import 'fonts.styl'
  @import 'headings.styl'
body
  background-color $bls_webBlack
  color white
  font-family inter-regular
  font-size 16px

.q-header
  background $bls_webBlack
  font-family inter-regular
  opacity .95
  .logo
    cursor pointer
.public header
  background url('/statics/header-bg.png') center center
  background-size cover

+b('wrapper')
  margin auto
  max-width 1440px
  .q-btn
    font-family inter-bold
    font-size 1.125em
    letter-spacing -.02em
  +e('content')
    margin 0 auto
    max-width 1240px
    padding 3.75em 2em

    .title, .tag, .sub-title
      font-family inter-bold
      margin 0
    .tag
      font-size 2em
    .title
      @media(max-width: $breakpoint-sm)
        font-size 1.5em
    .sub-title
      font-size 1.5em
    .desc
      margin-top 2em!important
      color rgba(255,255,255, .65)
      @media(max-width: $breakpoint-xs)
        margin-top 1.25em!important
    .q-field--dark .q-field__control:before
      background rgba(255,255,255,.15)
      border-color rgba(255,255,255, .15)

    +b('registration-form')
      max-width 22.5em
      margin 2em auto 0
      +b('desc')
        font-family inter-bold
        margin-bottom 1.25rem
      +b('submit')
        margin 2em 0 6.25em
        width 15rem
      +b('q-field__bottom')
        padding-top 5px

.public .q-layout__section--marginal,
.user .public .q-layout__section--marginal
  background-color rgba(255,255,255, .4)

footer
  background-color $bls_webBlack!important

+b('user-settings-dialog')
  +b('q-dialog')
    +e('inner')
      @media(max-width $breakpoint-sm)
        padding 12px

