.cobalt-magenta-180
  background linear-gradient(90deg, #0283c4 0%,#c2268f 100%)
.caribbean-sky-35
  background linear-gradient(125deg, #43c1c3 0%,#00a5d7 100%)
.salmon-hibiscus-180
  background linear-gradient(90deg, #ff6d5e 0%,#ff3b30 100%)
.squash-tangerine-180
  background linear-gradient(90deg, #fad961 0%,#f76b1c 100%)

// Transparent Gradients
.cobalt-magenta-180-alpha-20
  background-image: linear-gradient(to right, rgba(2,131,196,0.2) 0%, rgba(194,38,143,0.2) 100%)

.cobalt-magenta-180-alpha-20-right-bottom
  background-image: linear-gradient(to right bottom, rgba(2,131,196,0.2) 0%, rgba(194,38,143,0.2) 100%)
// Brand Color Classes
.bg-bls_webBlack
  background-color $bls_webBlack
.bg-bls_charcoal
  background-color $bls_charcoal
.bg-bls_midnight
  background-color $bls_midnight
.bg-bls_storm
  background-color $bls_storm
.bg-bls_iron
  background-color $bls_iron
.bg-bls_magenta
  background-color $bls_magenta
.bg-bls_cobalt
  background-color $bls_cobalt
.bg-bls_sky
  background-color $bls_sky
.bg-bls_caribbean
  background-color $bls_caribbean
.bg-bls_hibiscus
  background-color $bls_hibiscus
.bg-bls_salmon
  background-color $bls_salmon
.bg-bls_tangerine
  background-color $bls_tangerine
.bg-bls_squash
  background-color $bls_squash