@font-face
  font-family 'display-regular'
  src url('fonts/SF-Pro/SF-Pro-Display-Regular.otf') format("opentype")

@font-face
  font-family 'text-regular'
  src url('fonts/SF-Pro/SF-Pro-Text-Regular.otf') format("opentype")

@font-face
  font-family 'text-regular-italic'
  src url('fonts/SF-Pro/SF-Pro-Text-RegularItalic.otf') format("opentype")

@font-face
  font-family 'text-bold'
  src url('fonts/SF-Pro/SF-Pro-Text-Bold.otf') format("opentype")

@font-face
  font-family 'text-semibold'
  src url('fonts/SF-Pro/SF-Pro-Text-Semibold.otf') format("opentype")

@font-face
  font-family 'inter-regular'
  src url('fonts/Inter-Regular.otf') format("opentype")

@font-face
  font-family 'inter-bold'
  src url('fonts/Inter-Bold.otf') format("opentype")


// .text-bold
//   font-family text-bold
//   color white