<template lang="pug">
  q-form.bio-form.text-left
    h6.title Please update your biography.
    label(for="bio").q-mb-md.block Enter your story here:
    q-input(
      v-model="biography"
      id="bio"
      borderless
      dark
      dense
      color="info"
      type="textarea"
    ).bio-form__text-area
    q-btn-group(flat).row.q-mt-lg.justify-between
      q-btn(flat label='CANCEL' @click="closeDialog")
      q-btn(
        flat
        label='SAVE'
        @click="saveUserData"
      )
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'BioForm',
  computed: {
    ...mapState({
      currentUser: state => state.user.profile.currentUser
    })
  },
  data () {
    const state = this.$store.state.user.profile.currentUser
    return {
      biography: state.biography
    }
  },
  methods: {
    closeDialog () {
      this.$store.dispatch('profile/setEditDialog', false)
    },
    saveUserData () {
      const { biography } = this
      this.currentUser.ownerRef.update({
        biography
      })
        .then(res => {
          this.closeDialog()
          console.log('SUCCESS: ', res)
        })
        .catch(err => console.error('THERE WAS AN ERROR SAVING USER DATA: ', err))
    }
  }
}
</script>

<style lang="stylus">
//$
  +b('bio-form')
    +b('title')
      margin 1em 0
      font-family inter-bold
    +e('text-area')
      border solid 1px rgba(255,255,255, .15)
      padding 1em

</style>
