<template lang="pug">
  .links
    h6.title Add a new link to your profile.
    q-form(
      ref="addNewLinkForm"
      @submit="onSubmit"
    )
      q-input(
        v-model="displayName"
        dark
        dense
        label="Display Name"
        :rules="[val => !!val || '*Field is required']"
      )
      q-input(
        v-model="service"
        dark
        dense
        label="Service"
        :rules="[val => !!val || '*Field is required']"
      )
      q-input(
        v-model="url"
        dark
        dense
        label="URL"
        :rules="[val => !!val || '*Field is required']"
      )
      q-btn-group(flat).row.q-mt-lg.justify-between
        q-btn(flat label='CANCEL' @click="closeDialog")
        q-btn(
          flat
          label="SAVE"
          type="submit"
        )

    .block.text-left Edit Your Links
    q-table(
      text-color="white"
      card-class="bg-bls_midnight text-white"
      row-key="displayName"
      selection="multiple"
      title="Profile Links"
      :columns="columns"
      :data="links"
      :pagination="pagination.sync"
      :selected.sync="selected"
    )
      template(v-slot:top)
        .row.justify-between.items-center.full-width
          span Check boxes to remove link(s)
          q-btn(
            label="REMOVE LINKS"
            @click="removeLinks"
          )

      template(slot="body" slot-scope="props")
        q-tr(:props="props")
          q-td
            q-checkbox(
              v-model="props.selected"
            )
          q-editable-td(
            borderless
            dark
            v-model="props.row.displayName"
            color="white"
            align="left"
            mode="inline"
            :props="props"
          )
            | {{ props.row.displayName }}
          q-editable-td(
            v-model="props.row.service"
            align='center'
            mode="inline"
            :props="props"
          )
            | {{ props.row.service }}
          q-editable-td(
            v-model="props.row.url"
            align='right'
            mode="inline"
            :props="props"
          )
            | {{ props.row.url }}
</template>
<script>
import { mapState } from 'vuex'
import { uid } from 'quasar'
export default {
  name: 'LinksForm',
  computed: {
    ...mapState({
      currentUser: state => state.user.profile.currentUser
    }),
    columns () {
      return [
        {
          name: 'displayName',
          required: true,
          label: 'Link Name',
          align: 'left',
          field: row => row.displayName,
          sortabe: true
        },
        {
          name: 'service',
          required: true,
          label: 'Service',
          align: 'center',
          field: row => row.service,
          sortabe: true
        },
        {
          name: 'url',
          required: true,
          label: 'URL',
          align: 'right',
          field: row => row.url,
          sortabe: true
        }
      ]
    }
  },
  data () {
    const state = this.$store.state.user.profile.currentUser
    return {
      displayName: '',
      links: state.links,
      pagination: {
        sortBy: 'displayName',
        descending: false,
        page: 1,
        rowsPerPage: 5
      },
      selected: [],
      service: '',
      url: ''
    }
  },
  methods: {
    closeDialog () {
      this.$store.dispatch('profile/setEditDialog', false)
    },
    editLink (index) {
      console.log(index)
    },
    onSubmit () {
      const { links } = this.currentUser
      const { displayName, service, url } = this
      links.push({
        displayName,
        service,
        url
      })
      this.$refs.addNewLinkForm.validate()
        .then(success => {
          if (success) {
            this.currentUser.ownerRef.update({
              links
            })
              .then(res => {
                this.closeDialog()
                console.log('SUCCESS -- ADD LINKS: ', res)
              })
              .catch(err => console.error('THERE WAS AN ERROR SAVING USER DATA: ', err))
          }
        })
    },
    removeLinks () {
      const updatedLinks = this.links.filter(
        l => this.selected.some(
          e => l.displayName !== e.displayName
        ))
      this.links = updatedLinks
      const { links } = this
      debugger
      this.currentUser.ownerRef.update({
        links
      })
        .then(res => {
          this.closeDialog()
          console.log('SUCCESS -- REMOVE LINKS: ', res)
        })
        .catch(err => console.error('THERE WAS AN ERROR SAVING USER DATA: ', err))
    },
    uid
  }
}
</script>

<style lang="stylus">
  .q-table--col-auto-width
    padding-right 1rem !important
</style>
