<template lang="pug">
  .projects
    h6.title Add a new project to your profile.
    q-form(
      ref="addNewProjectForm"
      @submit="onSubmit"
    )
      q-input(
        v-model="projectName"
        dark
        dense
        label="Title"
        :rules="[val => !!val || '*Field is required']"
      )
      q-input(
        v-model="description"
        dark
        dense
        label="Description"
        :rules="[val => !!val || '*Field is required']"
      )
      label(for="category").text-left.q-my-md.block
          | Project Category
      q-select(
          id="category"
          v-model="category"
          ref="rolesSelect"
          dark
          dense
          emit-value
          map-options
          options-dark
          outlined
          color="white"
          max-values="1"
          :options="categories"
          :option-label="opt => toRegularForm(opt)"
          :option-value="opt => opt"
          :rules="[val => !!val || '*Field is required']"
        )
      label(for="category").text-left.q-my-md.block
          | Your Project Role(s)
          span.inst  Maximum Two
      q-select(
          v-if="roleOptions.length > 0"
          id="roles"
          v-model="projectRoles"
          ref="rolesSelect"
          dark
          dense
          emit-value
          map-options
          multiple
          options-dark
          outlined
          color="white"
          max-values="2"
          :options="roleOptions"
          :option-label="opt => opt.name"
          :option-value="opt => opt"
          :rules="[val => !!val || '*Field is required']"
        )

      q-btn-group(flat).row.q-mt-lg.justify-between
        q-btn(flat label='CANCEL' @click="closeDialog")
        q-btn(
          flat
          label="SAVE"
          type="submit"
        )

    .block.text-left Edit Your Projects
    q-table(
      text-color="white"
      card-class="bg-bls_midnight text-white"
      row-key="projectName"
      selection="multiple"
      title="Past Projects"
      :columns="columns"
      :data="pastProjects"
      :pagination="pagination.sync"
      :selected.sync="selected"
    )
      template(v-slot:top)
        .row.justify-between.items-center.full-width
          span Check boxes to remove project(s)
          q-btn(
            label="REMOVE PROJECTS"
            @click="removeProjects"
          )

      template(slot="body" slot-scope="props")
        q-tr(:props="props")
          q-td
            q-checkbox(
              v-model="props.selected"
            )
          q-editable-td(
            borderless
            dark
            v-model="props.row.displayName"
            color="white"
            align="left"
            mode="inline"
            :props="props"
          )
            | {{ props.row.displayName }}
          q-editable-td(
            v-model="props.row.service"
            align='center'
            mode="inline"
            :props="props"
          )
            | {{ props.row.service }}
          q-editable-td(
            v-model="props.row.url"
            align='right'
            mode="inline"
            :props="props"
          )
            | {{ props.row.url }}
</template>
<script>
import { mapState } from 'vuex'
import { uid } from 'quasar'
export default {
  name: 'ProjectsForm',
  created () {
    console.log(this.categoryOpts)
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.profile.currentUser
    }),
    columns () {
      return [
        {
          name: 'projectName',
          required: true,
          label: 'Title',
          align: 'left',
          field: row => row.projectName,
          sortabe: true
        },
        {
          name: 'projectType',
          required: true,
          label: 'Project Type',
          align: 'center',
          field: row => row.projectType,
          sortabe: true
        },
        {
          name: 'projectRoles',
          required: true,
          label: 'Project Roles',
          align: 'right',
          field: row => row.projectRoles,
          sortabe: true
        }
      ]
    }
  },
  data () {
    const state = this.$store.state.user.profile.currentUser
    return {
      categories: [
        'digital',
        'liveEvent',
        'commercial',
        'musicVideo',
        'student',
        'videoGame'
      ],
      category: '',
      description: '',
      pagination: {
        sortBy: 'projectName',
        descending: false,
        page: 1,
        rowsPerPage: 5
      },
      pastProjects: state.pastProjects,
      projectName: '',
      projectRoles: [],
      roleOptions: [],
      selected: []
    }
  },
  firestore () {
    const db = this.$fb.firestore()
    return {
      roleOptions: db.collection('roles').orderBy('name')
    }
  },
  methods: {
    closeDialog () {
      this.$store.dispatch('profile/setEditDialog', false)
    },
    createProjectDoc () {
      return new Promise((resolve, reject) => {
        const productionRef = this.$fb.firestore().collection('productions')
        const productionRefId = this.uid().toUpperCase()
        productionRef.doc(productionRefId).set({
          ...this.setupProjectDoc()
        })
          .then(() => {
            productionRef.doc(productionRefId).get()
              .then(snapShot => {
                if (snapShot.exists) {
                  const newProjectDoc = {
                    productionRef: productionRef.doc(productionRefId),
                    snapShot
                  }
                  resolve(newProjectDoc)
                }
              })
              .catch(err => {
                console.error('ERROR - GET SNAPSHOT: ', err)
                reject()
              })
          })
          .catch(err => {
            console.error('ERROR - SAVING PRODUCTION: ', err)
            reject()
          })
      })
    },
    async onSubmit () {
      this.$refs.addNewProjectForm.validate()
        .then(async success => {
          if (success) {
            const creditRefId = this.uid().toUpperCase()
            this.setupCreditDoc()
              .then(result => {
                const creditsRef = this.$fb.firestore().collection('credits').doc(creditRefId)
                debugger
                creditsRef.set({
                  ...result
                })
                  .then(() => {
                    this.closeDialog()
                    console.log('SUCCESS - New Project submitted to Credits Collection', result)
                  })
                  .catch(err => console.error('ERROR - ADD TO CREDITS COLLECTION: ', err))
              })
          }
        })
    },
    removeProjects () {
      const updatedLinks = this.links.filter(
        l => this.selected.some(
          e => l.displayName !== e.displayName
        ))
      this.links = updatedLinks
      const { links } = this
      debugger
      this.currentUser.ownerRef.update({
        links
      })
        .then(res => {
          this.closeDialog()
          console.log('SUCCESS -- REMOVE LINKS: ', res)
        })
        .catch(err => console.error('THERE WAS AN ERROR SAVING USER DATA: ', err))
    },
    async setupCreditDoc () {
      const { projectRoles } = this
      const projectDoc = await this.createProjectDoc()
      return {
        description: this.description,
        ownerRef: this.currentUser.ownerRef,
        production: {
          ...projectDoc.snapShot.data()
        },
        productionRef: projectDoc.productionRef,
        projectRoles,
        roleRefs: [],
        type: 'user',
        user: this.currentUser
      }
    },
    setupProjectDoc () {
      const {
        category,
        projectName
      } = this
      return {
        category,
        name: projectName,
        releaseDate: new Date()
      }
    },
    toRegularForm (str) {
      return str.replace(/([A-Z])/g, ' $1').replace(/^./, ltr => ltr.toUpperCase())
    },
    uid
  }
}
</script>

<style lang="stylus">
  .q-table--col-auto-width
    padding-right 1rem !important
</style>
