<template lang="pug">
  .videos
    h6.title Add a new video to your profile.
    q-form(
      ref="addNewVideoForm"
      @submit="addVideo"
    )
      q-input(
        v-model="name"
        dark
        dense
        label="Video Name"
        :rules="[val => !!val || '*Field is required']"
      )
      q-input(
        v-model="description"
        dark
        dense
        label="Description"
        :rules="[val => !!val || '*Field is required']"
      )
      q-btn(
        label="Upload Video(only mp4)"
        @click="showVideoUpload"
        :disable="videoUploadBtnDisabled"
      ).cobalt-magenta-180.q-mt-md

      q-btn-group(flat).row.q-mt-lg.justify-between.block
        q-btn(
          flat
          label='CANCEL'
          @click="closeDialog"
        )
        q-btn(
          flat
          label="SAVE"
          type="submit"
        )

    .block.text-left Edit Your Videos
    q-table(
      text-color="white"
      card-class="bg-bls_midnight text-white"
      row-key="displayName"
      selection="multiple"
      title="Profile Videos"
      :columns="columns"
      :data="videos"
      :pagination="pagination.sync"
      :selected.sync="selected"
    )
      template(v-slot:top)
        .full-width
          .inst Check boxes to remove video(s)
          q-btn-group(flat).block
            q-btn(
              label="REMOVE VIDEOS"
              @click="removeVideos"
            )
            q-btn(
              label="UPDATE VIDEOS"
              @click="updateVideos"
            )

      template(slot="body" slot-scope="props")
        q-tr(:props="props")
          q-td
            q-checkbox(
              v-model="props.selected"
            )
          q-editable-td(
            borderless
            dark
            v-model="props.row.name"
            color="white"
            align="left"
            mode="inline"
            :props="props"
          )
            | {{ props.row.name }}
          q-editable-td(
            dark
            v-model="props.row.description"
            align='center'
            color="white"
            mode="inline"
            :props="props"
          )
            | {{ props.row.description }}

    q-dialog(
      v-model='videoUpload'
      transition-hide="scale"
      transition-show="scale"
    )
      q-card
        p.text-dialog.bg-bls_midnight.q-mb-none.q-pa-sm
          span(v-if="videoUploading") Your video is uploading...
            q-spinner-gears
          span(v-else)|  Please upload a new video
        q-input(
          filled
          bg-color="bls_midnight"
          color='white'
          type='file'
          value='upload'
          @change='addVideo'
        )
</template>
<script>
import { mapState } from 'vuex'
import { uid } from 'quasar'
export default {
  name: 'VideoForm',
  created () {
    console.log(this.videos)
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.profile.currentUser
    }),
    columns () {
      return [
        {
          name: 'videoName',
          required: true,
          label: 'Video Name',
          align: 'left',
          field: row => row.name,
          sortabe: true
        },
        {
          name: 'description',
          required: true,
          label: 'Description',
          align: 'center',
          field: row => row.description,
          sortabe: true
        }
      ]
    },
    videoUploadBtnDisabled () {
      return !(this.description !== '' && this.name !== '')
    }
  },
  data () {
    const state = this.$store.state.user.profile
    return {
      description: '',
      name: '',
      videos: state.videos,
      pagination: {
        sortBy: 'name',
        descending: false,
        page: 1,
        rowsPerPage: 5
      },
      selected: [],
      videoUpload: false,
      videoUploading: false
    }
  },
  methods: {
    addVideo (e) {
      this.$refs.addNewVideoForm.validate()
        .then(success => {
          if (success && e.target.files) {
            const reelRefId = this.uid()
            const firestore = this.$fb.firestore()
            const file = e.target.files[0]
            const fileSuffix = file.type.split('/')[1]
            const profileImageStorageRef = this.$fb.storage().ref(`${this.currentUser.id}/reels/${reelRefId}.` + fileSuffix)
            const reelsRef = firestore.collection('reels')
            this.videoUploading = true
            profileImageStorageRef.put(file)
              .then((snapShot) => {
                snapShot.ref.getDownloadURL()
                  .then((link) => {
                    reelsRef.doc(reelRefId).set({
                      ...this.setupReelDoc(link)
                    })
                    this.videoUploading = false
                    this.videoUpload = false
                    this.closeDialog()
                  })
              })
          } else {
            this.videoUpload = true
          }
        })
    },
    closeDialog () {
      this.$store.dispatch('profile/setEditDialog', false)
    },
    // onSubmit () {
    //   const { links } = this.currentUser
    //   const { displayName, service, url } = this
    //   links.push({
    //     displayName,
    //     service,
    //     url
    //   })
    //   this.$refs.addNewLinkForm.validate()
    //     .then(success => {
    //       if (success) {
    //         this.currentUser.ownerRef.update({
    //           links
    //         })
    //           .then(res => {
    //             this.closeDialog()
    //             console.log('SUCCESS -- ADD LINKS: ', res)
    //           })
    //           .catch(err => console.error('THERE WAS AN ERROR SAVING USER DATA: ', err))
    //       }
    //     })
    // },
    removeVideos () {
      const updatedVideos = this.videos.filter(
        v => this.selected.some(
          e => v.name === e.name
        ))
      this.videos = updatedVideos
      const reelsRef = this.$fb.firestore().collection('reels')
      this.videos.forEach((v) => {
        reelsRef.doc(v.id).delete()
          .then(() => {
            this.closeDialog()
          })
          .catch(err => console.error('ERROR - VIDEO DELETION: ', err))
      })
    },
    setupReelDoc (link) {
      return {
        content: link,
        description: this.description,
        duration: 0.0,
        name: this.name,
        owner: this.currentUser,
        ownerRef: this.currentUser.ownerRef,
        posterImage: '',
        tags: [],
        uploadingContent: false,
        views: 0
      }
    },
    showVideoUpload () {
      this.videoUpload = true
    },
    updateVideos () {
      this.videos.forEach((v, i) => {
        const reelsRef = this.$fb.firestore().collection('reels').doc(v.id)
        reelsRef.update({
          name: v.name,
          description: v.description
        })
      })
      this.videoUploading = false
      this.closeDialog()
    },
    uid
  }
}
</script>

<style lang="stylus">
  .q-table--col-auto-width
    padding-right 1rem !important
</style>
