<template lang="pug">
  q-layout(
    view='hHh Lpr fFf'
    :class="{ 'blur-layout': blurLayout }"
  ).admin.admin--type
    q-header
      q-toolbar
        q-btn(
          flat
          round
          dense
          icon='menu'
          @click='leftDrawer = !leftDrawer'
        ).lt-md
        q-toolbar-title
          img.q-mt-sm(src='statics/admin/blis-logo-grad.png' height='25')
    q-drawer(
      v-model='leftDrawer'
      side='left'
    )
      q-list
        q-item(clickable v-ripple to="/user/admin/companies" exact)
          q-item-section
            | COMPANIES
          q-item-section.indicator.items-center
            q-avatar(text-color="white" label="4" color="accent")
              | {{ companies.length }}
        q-item(clickable v-ripple to="/user/admin/creators" exact)
          q-item-section
            | CREATORS
          q-item-section.indicator.items-center
            q-avatar(text-color="white" label="4" color="accent")
              | {{ creators.length }}
        q-item(clickable v-ripple to="/user/admin/applications" exact)
          q-item-section
            | APPLICATIONS
          q-item-section.indicator.items-center
            q-avatar(text-color="white" label="4" color="accent")
              | {{ applications.length }}
        q-item(clickable v-ripple to="/user/admin/jobs" exact)
          q-item-section
            | JOBS
          q-item-section.indicator.items-center
            q-avatar(text-color="white" label="4" color="accent")
              | {{ jobs.length }}

    q-page-container
      // This is where pages get injected
      router-view(
        :applications="applications"
        :companies="companies"
        :creators="creators"
        :jobs="jobs"
        @setBlur="setBlur"
      )
</template>

<script>
export default {
  name: 'Admin',

  data () {
    return {
      applications: [],
      blurLayout: false,
      companies: [],
      creators: [],
      leftDrawer: true,
      jobs: []
    }
  },
  firestore () {
    const db = this.$fb.firestore()
    return {
      applications: db.collection('applications'),
      jobs: db.collection('jobs'),
      companies: db.collection('webFormSubmissions'),
      creators: db.collection('users')
    }
  },
  methods: {
    setBlur () {
      this.blurLayout = !this.blurLayout
    }
  }
}
</script>
<style lang="stylus">
// $
  .admin, .admin--type, .admin--type .q-header, .admin--type .q-drawer
    background #fafafa!important
    color #1a1e42

  +b('admin')
    &.blur-layout
      filter blur(5px)
    +m('type')
      .q-drawer
        width 250px!important
      .indicator
        margin-top 3px
      .q-avatar
        font-size 1.6em
        font-weight bold

</style>
