<template lang='pug'>
  q-layout(view='hHh Lpr fFf')
    q-header
    q-page-container
      router-view
    q-footer
</template>

<script>
export default {
  name: 'Basic',

  data () {
    return {}
  }
}
</script>

<style lang='stylus'>
  // $
  +b('basic')
    height 5.5em
    background-color $bls_webBlack
</style>
