<template lang="pug">
  q-layout(view="lHh Lpr lFf")
    q-header
      q-toolbar.q-py-lg.q-px-xl.row.justify-between
        img(
          src="/statics/logo.svg"
          height="24"
        ).logo

    q-page-container
      router-view
    Blis-footer
</template>

<script>
import BlisFooter from 'components/Footer.vue'

export default {
  name: 'MyLayout',
  components: { BlisFooter },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>

<style>
</style>
