<template lang='pug'>
  q-layout(view='lHh LpR ffr').public
    q-header
      .header-section
        q-toolbar.q-px-none.q-py-md.row.justify-between
          img(src='/statics/blis-logo.svg' height='20')
          q-btn.q-px-lg.sign-up(
            rounded
            unelevated
            color='white'
            label='SIGN UP'
            text-color='black'
          )
    q-page-container
      router-view
    q-footer
</template>

<script>
export default {
  name: 'PublicLayout',

  data () {
    return {
    }
  }
}
</script>

<style lang='stylus'>
// $
  +b('header-section')
    margin auto
    width 60em
    .sign-up
      font-family text-semibold
</style>
