<template lang='pug'>
   q-layout(
     v-if="currentUser"
     view='hHh lpR fff'
     :class="{ 'blur-layout': blurLayout }"
    ).user.user--type
    q-header(elevated)
      q-toolbar.justify-between
        q-toolbar-title.logo
          img(src='statics/logo.svg' height='20')
        .nav.gt-xs
          q-btn-group(push)
            q-btn(
              color="bls_midnight"
              label="Jobs"
              to="/user/creator/jobs"
              :class="{'active': isActive('UserJobs')}"
            )
            q-btn(
              color="bls_midnight"
              label="Profile"
              to="/user/creator/profile"
              :class="{'active': isActive('UserProfile')}"
            )
          //- router-link(to='/user/creator' exact)
          //-   | Home
          //- router-link(to="/user/creator/jobs" exact)
          //-   | Jobs
          //- router-link(to="/user/creator/messages" exact)
          //-   | Messages
          //- router-link(to="/user/creator/profile" exact)
          //-   | Profile
        q-btn(
            label="MENU"
            @click="rightDrawer = !rightDrawer"
          ).lt-sm.cursor
        q-drawer(
          v-model="rightDrawer"
          side="right"
          content-class="right-drawer bg-bls_webBlack"
        )
          q-list(dark).q-mt-md
            //- q-item(clickable v-ripple to='/user/creator' exact)
            //-   q-item-section
            //-     | Home
            q-item(clickable v-ripple to="/user/creator/jobs" exact)
              q-item-section
                | Jobs
            //- q-item(clickable v-ripple to="/user/creator/messages" exact)
            //-   q-item-section
            //-     | Messages
            q-item(clickable v-ripple to="/user/creator/profile" exact)
              q-item-section
                | Profile
    q-page-container
      router-view(
        @setBlur="setBlur"
        :currentUserFB="currentUser"
      ).text-white
    blis-footer
</template>

<script>
export default {
  name: 'UserLayout',
  components: {
    'AuthHeaderButton': () => import('components/auth/AuthHeaderButton.vue'),
    'BlisFooter': () => import('components/Footer.vue'),
    'CreatorLinks': () => import('components/user/links/CreatorLinks.vue')
  },
  computed: {
    fbAuthUser () {
      return this.$fb.auth().currentUser
    },
    ownerRef () {
      return this.$fb.firestore().collection('users').doc(this.fbAuthUser.uid)
    },
    pastProjectsRef () {
      return this.$fb.firestore().collection('credits')
    }
  },
  created () {
    this.$bind('currentUser', this.ownerRef).then(currentUser => {
      if (!currentUser) {
        throw Error('CurrentUser === null -- COLLECTION EMPTY')
      }
      // eslint-disable-next-line no-unused-expressions
      this.currentUser === currentUser
    })
    this.$bind('pastProjects', this.pastProjectsRef.where('ownerRef', '==', this.ownerRef)).then(pastProjects => {
      // eslint-disable-next-line no-unused-expressions
      this.pastProjects === pastProjects
    })
  },
  data () {
    return {
      blurLayout: false,
      currentUser: null,
      pastProjects: [],
      rightDrawer: false,
      search: null
    }
  },
  methods: {
    isActive (path) {
      const route = this.$route.name
      return path === route
    },
    setBlur () {
      this.blurLayout = !this.blurLayout
    }
  },
  watch: {
    currentUser () {
      if (!this.currentUser.ownerRef) {
        this.currentUser.ownerRef = this.ownerRef
      }
      this.$store.dispatch('updateUserData', { prop: 'currentUser', value: this.currentUser })
    },
    pastProjects () {
      this.$store.dispatch('profile/setUserPastProjects', this.pastProjects)
      console.log('VIDEOS IN STATE', this.$store.state.user.profile.pastProjects)
    }
  }
}
</script>
<style lang='stylus'>
// $
  +b('user')
    &.blur-layout
      filter blur(5px)
    +m('type')
      +b('q-toolbar')
        max-width 1240px
        margin auto

        .nav
          .active
            font-family inter-bold
  .right-drawer
    z-index 9999

</style>
