<template lang="pug">
    q-page(
      padding
    ).wrapper.jobs.cobalt-magenta-180-alpha-20-right-bottom
      .wrapper__content(v-if="currentUser")
        unverified(v-if="showUnverified()")
        verified(v-if="showVerified()")
      q-dialog(
        maximized
        persistent
        content-class="pending-dialog"
        :value="showPending"
      )
        pending

</template>

<script>
import Pending from '../../../../components/user/jobs/Pending.vue'
import Unverified from '../../../../components/user/jobs/Unverified.vue'
import Verified from '../../../../components/user/jobs/Verified.vue'
import { mapState } from 'vuex'

export default {
  name: 'Jobs',
  components: {
    Pending,
    Unverified,
    Verified
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.currentUser
    }),
    showPending () {
      return this.currentUser.verificationStatus === 'pending'
    }
  },
  data () {
    return {
      darken: true
    }
  },
  methods: {
    showUnverified () {
      return this.currentUser.verificationStatus === '' ||
        this.currentUser.verificationStatus === null ||
        this.currentUser.verificationStatus === undefined ||
        this.currentUser.verificationStatus === 'none'
    },
    showVerified () {
      if (this.currentUser.verificationStatus === 'accepted') return true
      else if (this.currentUser.verificationStatus === 'pending') return true
      else return false
    }
  }
}
</script>

<style lang="stylus">
  // $
  // +b('jobs')
  .pending-dialog
    &.fullscreen
      z-index 500
    .fixed-full
      top 50px
</style>
