<template lang='pug'>
  .wrapper.cobalt-magenta-180-alpha-20-right-bottom
    .wrapper__content.profile(v-if="currentUser")
      .profile__top-section.row.justify-between.no-wrap
        .row.justify-start
          .profile__avatar.q-mr-lg
            .profile-photo(
              @click="showEditDataDialog('userSettings')"
            )
              .default-user-image(v-if="showDefaultPhoto()")
                q-avatar(size="180px")
                  q-icon(name="person" size="180px")
                span.block.text-caption.text-center.inst Click here to add<br> a profile photo
              .user-photo
                q-avatar(
                  v-if="!showDefaultPhoto()"
                  size="120px"
                )
                  q-img(:src="currentUser.profilePhoto")
                    template(v-slot:loading)
                      q-spinner-gears(color="white")
          .profile__info.col.column.justify-around
            h2.title.profile__name {{ getFullName() }}
            .profile__role
              span(
                v-for="(role, key, index) in currentUser.roles"
                :key=index
              )
                span(v-if="index > 0") ,&nbsp;
                | {{ role.name.toUpperCase() }}
            .profile__location
              // Need to implement proper location object from google geocoding`
              span(v-if="currentUser.location.city") {{ currentUser.location.city.toUpperCase() }}
              span(v-else) Please Add Your Location
        .profile__settings.q-pt-lg
          q-avatar(@click="showEditDataDialog('userSettings')").settings-icon.bg-black
            q-icon(name="settings")
      .profile__bottom-section.row.justify-between
        .profile__bottom-section--left.col-12.col-sm-2
          .bio
            .title-container.row.justify-between
              h4.title Bio
              q-icon(
                name="create"
                @click="showEditDataDialog('bio')"
              ).edit-info
            p.bio__description(v-if="currentUser.biography !== ''") {{ currentUser.biography }}
            p.bio__description(v-else) Please update your bio.
          .links-container
            .title-container.row.justify-between
              h4.title Links
              q-icon(
                name="add_circle"
                @click="showEditDataDialog('links')"
              ).edit-info
            .links(v-if="currentUser.links.length > 0")
              .link(
                v-for="(link, index) in currentUser.links"
                :key="index"
              )
                .project__type
                  a(:href="link.url" target="_blank") {{ link.displayName }}
                .project__role {{ link.service.toUpperCase() }}
            .links__desc(v-else)
              | Please add some links to share.
        .profile__bottom-section--right.col-12.col-sm-8
          .video
            .title-container.row.justify-between
              h4.title Videos
              q-icon(
                name="add_circle"
                @click="showEditDataDialog('videos')"
              ).edit-info
            q-carousel(
              v-if="videos.length > 0"
              v-model="initialVideo"
              transition-prev="scale"
              transition-next="scale"
              swipeable
              animated
              control-color="white"
              navigation
              padding
            ).transparent.text-white.shadow-1.rounded-borders
              q-carousel-slide(
                v-for="(video, index) in videos"
                :key="index"
                :name="video.name"
              ).video
                .q-mt-md.text-center
                  video(
                    controls
                    playsinline
                    height='320'
                    :poster="video.posterImage"
                    width='100%'
                  )
                    source(
                      type='video/mp4'
                      :src="video.content"
                    )
            .video__desc(v-else)
              | Please upload a video to your profile.
          .past-projects
            .title-container.row.justify-between
              h4.title Past Projects
              //- q-icon(
              //-   name="add_circle"
              //-   @click="showEditDataDialog('pastProjects')"
              //- ).edit-info
            .project.row.justify-between(v-if="pastProjects.length > 0")
              .row.col-7.justify-between(
                v-for="(project, index) in pastProjects"
                :key="index"
              )
                span {{ project.production.name }}
                span.project__type {{ project.description }}
                span.col-1.col.project__role(
                  v-for="(role, index) in project.roles"
                  :key="index"
                ) {{ role.name }}
            .project__desc(v-else)
              | You don't have any project in your profile.

        q-dialog(
          :value='editDialog'
          persistent
          @before-hide="setBlur"
          content-class="user-settings-dialog"
        )
          edit-data-dialog-content
</template>

<script>
import { concatFullName } from '../../../../utils/utilFunctions'
import { mapState } from 'vuex'
export default {
  name: 'Profile',
  created () {},
  components: {
    'EditDataDialogContent': () => import('../../../../components/EditDataDialogContent.vue')
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.currentUser,
      editDialog: state => state.user.profile.editDialog
    }),
    initialVideo () {
      return this.videos[0].name
    }
  },
  data () {
    return {
      pastProjects: [],
      photoUpload: false,
      storageRef: this.$fb.storage().ref(),
      userData: {},
      videos: []
    }
  },
  firestore () {
    // const reelsRef = this.$fb.firestore().collection('reels')
    // const pastProjectsRef = this.$fb.firestore().collection('credits')
    // return {
    //   pastProjects: pastProjectsRef.where('ownerRef', '==', this.currentUser.ownerRef),
    //   videos: reelsRef.where('ownerRef', '==', this.currentUser.ownerRef)
    // }
  },
  methods: {
    getFullName () {
      const { firstName, middleName, lastName } = this.currentUser
      return concatFullName(firstName, middleName, lastName)
    },
    setBlur () {
      this.$emit('setBlur')
    },
    showEditDataDialog (formType) {
      this.setBlur()
      this.$store.dispatch('profile/setEditDialog', true)
      this.$store.dispatch('profile/setUserFormType', formType)
    },
    showDefaultPhoto () {
      return this.currentUser.profilePhoto === '' ||
        this.currentUser.profilePhoto === null ||
        this.currentUser.profilePhoto === undefined
    }
  },
  watch: {
    videos () {
      this.$store.dispatch('profile/setUserVideos', this.videos)
    },
    pastProjects () {
      this.$store.dispatch('profile/setUserPastProjects', this.pastProjects)
    }
  }
}
</script>

<style lang='stylus'>
// $
+b('wrapper')
  +b('profile')
    .profile__role,
    .profile__location,
    .project__role,
    .project__type
      color rgba(255,255,255,0.6)
    +e('settings')
      @media(max-width $breakpoint-sm)
        padding-top 0
      +b('settings-icon')
        cursor pointer
        @media(max-width $breakpoint-sm)
          height .7em!important
          width .7em!important
    +e('avatar')
      cursor pointer
      .default-user-image
        background-color none
        cursor pointer
        color white
        font-size 1.8em
        text-align center
        .q-icon
          @media(max-width $breakpoint-sm)
            font-size 1em!important
        .inst
          position relative
          top -20px
          @media(max-width $breakpoint-xs)
            top 0
        .q-avatar
          @media(max-width $breakpoint-sm)
            height .5em!important
            width .5em!important
    +e('top-section')
      border-bottom solid 1px rgba(255,255,255,.15)
      padding 2em 0 5em 0
      @media(max-width $breakpoint-sm)
         padding 1em 0 3em 0
    +e('bottom-section')
      padding-top 5em

      +m('left')
        max-width 15em
        @media(max-width $breakpoint-sm)
          max-width none

        +b('links')
          +b('link')
            a
              text-decoration none
              color white

      +m('right')
        +b('past-projects')
          margin-top 4.5em

    +b('edit-info')
      cursor pointer
      font-size 1.4em
      color rgba(255,255,255,.25)
      top .4em

    +e('name')
      font-size 2em
      line-height 1
      margin 0
      @media(max-width $breakpoint-sm)
        font-size 1em
    +e('role')
      margin 1em 0
      line-height 1
      @media(max-width $breakpoint-sm)
        font-size .8em
    +e('location')
      @media(max-width $breakpoint-sm)
        font-size .8em
  .project, .link
    position: relative
    margin .75em 0
    font-size: .875em

</style>
