<template lang="pug">
  q-card.job-post.text-white
    q-card-section.top-section.row.justify-around
      .icon.col-2
        q-avatar(size="30px")
          img(:src="'https://cdn.quasar.dev/img/avatar2.jpg'")
      .job-post-details.col-10.justify-center
        .details
          span.block
            strong Owner
            | &nbsp;is hiring
          span.block
            | for a&nbsp;
            strong Job Type&nbsp;
            | in
          span.block
            strong Location&nbsp;
            | on&nbsp;
            strong Date
        .rate.q-my-lg
          strong
            | Rate: $170/day
    q-separator(dark='')
    .apply.row.justify-around.items-center
      .job-title.col-9.items-center PRODUCTION ASSITANT
      q-btn(
        outline
        rounded
        @click="launchJobApplication"
      ).apply__btn.col-3 APPLY
</template>

<script>
export default {
  name: 'JobPost',
  data () {
    return {}
  },
  methods: {
    launchJobApplication () {
      console.log('Launch Job Application')
    }
  }
}
</script>

<style lang="stylus">
// $
+b('job-post')
  background url('/statics/user/job-post-bkgd.png')
  background-size cover
  font-size .875em
  min-width 20.5em
  padding 2em 1.5em .5em
  +b('top-section')
    padding 0
  +b('apply')
    min-height 4em
    +b('job-title')
      font-size .625em
      font-family inter-bold
    +e('btn')
      border-radius .375em
      font-size .625em

</style>
