<template lang="pug">
  .wrapper-pending.column.justify-center
    .pending.text-center
      h4.title VERIFICATION PENDING

      p.info We will review your profile. Once your profile has been reviewed, you will receive an email to complete verification.

      p.info Please be sure to check your email. If you have not received anything or if you have any questions, &nbsp;
        a(href="https://blis.io/#/contactUs" target="_blank").contact
          strong
            | contact us.
      .overlay
</template>

<script>

export default {
  name: 'Pending',
  created () {
    document.body.classList.add('no-scroll')
  },
  data () {
    return {}
  },
  destroyed () {
    document.body.classList.remove('no-scroll')
  }
}
</script>

<style lang="stylus">
//$
+b('wrapper-pending')
  z-index 1000
  position absolute
  height 100vh
  width 100%

  +b('pending')
    position relative
    margin auto
    max-width 22em
    .title
      font-size 1em
      font-family inter-bold
    .contact
      color white
      font-family inter-bold
      text-decoration none

.no-scroll
  overflow hidden
</style>
