<template lang="pug">
  .unverified.column
    h4.title.text-center Become a Blis Professional
    .inst.text-center Before you can apply to jobs, you need to complete the following items:

    q-list.verification-steps
      q-item
        q-item-section(avatar).justify-top
          q-icon(
            v-if="!hasProfilePhoto()"
            name="panorama_fish_eye"
            size="32px"
          )
          q-icon(
            v-if="hasProfilePhoto()"
            name="check_circle"
            size="32px"
          )
        q-item-section
          p.inst Upload a <strong>Photo</strong>
          p.sub-inst Use a professional, up-to-date photo where your face can clearly be seen.
      q-item
        q-item-section(avatar)
          q-icon(
            v-if="!hasBio()"
            name="panorama_fish_eye"
            size="32px"
          )
          q-icon(
            v-if="hasBio()"
            name="check_circle"
            size="32px"
          )
        q-item-section
          p.inst Write a <strong>Bio</strong>
          p.sub-inst Be sure to highlight your experience, skills, awards, and union affiliations.
      //- q-item
      //-   q-item-section(avatar)
      //-     q-icon(
      //-       v-if="!hasProjects()"
      //-       name="panorama_fish_eye"
      //-       size="32px"
      //-     ).projects
      //-     q-icon(
      //-       v-if="hasProjects()"
      //-       name="check_circle"
      //-       size="32px"
      //-     )
      //-   q-item-section
      //-     p.inst Add at least <strong>3 projects</strong>
      //-     p.sub-inst Add projects that you're most proud of.

    q-btn(
      label="VERIFY ME"
      :disable="verficationDisable()"
      @click="setVerficationStatusToPending"
    ).verify-me.cobalt-magenta-180.q-my-xl

</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Unverified',
  computed: {
    ...mapState({
      currentUser: state => state.user.currentUser
    })
  },
  data () {
    return {}
  },
  methods: {
    hasProfilePhoto () {
      const profilePhotoPath = this.currentUser.profilePhoto
      return profilePhotoPath !== ''
    },
    hasBio () {
      const bio = this.currentUser.biography
      return bio !== ''
    },
    hasProjects () {
      const state = this.$store.state.user.profile.pastProjects
      return state.length > 2
    },
    setVerficationStatusToPending () {
      debugger
      const ownerRef = this.currentUser.ownerRef
      ownerRef.update({
        verificationStatus: 'pending'
      })
        .then(() => {
          console.log()
        })
        .catch()
    },
    verficationDisable () {
      return !(this.hasProfilePhoto() & this.hasBio())
    }
  }
}
</script>

<style lang="stylus">
// $
  +b('unverified')
    margin auto
    max-width 20.5em

    +b('inst')
      margin 1.5em 0 2em 0
    +b('title')
      font-size .875em
    +b('verification-steps')
      .inst
        margin-bottom 0
      .sub-inst
        font-style italic
        color rgba(255,255,255,.6)
      .q-icon
        margin-top -2em
        &.projects
          margin-top -1.3em
    .verify-me
      font-family inter-regular
</style>
