<template lang="pug">
    .verified(:class="{ 'blur-layout': blurVerificationState }")
      h2.title
        | Payments
      section.payments.q-pt-lg.q-mb-lg
        //- .payments__upcoming.col-md-3.col-xs-12
        //-   h4.title Upcoming Payments
        //-   .payments(v-if="upcomingPayments")
        //-   span.block(v-else) none
        //- .payments__pending.col-md-3.col-xs-12
        //-   h4.title Pending Payments
        //-   .payments(v-if="pendingPayments")
        //-   span.block(v-else) none
        //- .payments__paid.col-md-3.col-xs-12
        //-   h4.title Paid
        //-   .payments(v-if="paidPayments")
        //-   span.block(v-else) none
        .payments__setup.block.q-mb-md(
          v-if="!showStripePayments()"
        )
          q-btn(
            outline
            label="SET UP YOUR STRIPE ACCOUNT"
            :loading="loading"
            @click="stripeAuth"
          ).payments__transfer.full-width.q-mb-md
            template(v-slot:loading)
              q-spinner-gears(color="white")
                | ...working
        .payments__page.block(
          v-if="showStripePayments()"
        )
          q-btn(
            outline
            label="GO TO PAYMENTS"
            :loading="loading"
            @click="stripeDashboard"
          ).payments__transfer.full-width
            template(v-slot:loading)
              q-spinner-gears(color="white")
                | ...working
      //- section(
      //-   v-if="jobs.length > 0"
      //- ).jobs.q-pt-lg.q-mb-lg
      //-   h2.title
      //-     | New Job Opportunities
      //-   .jobs-list.row.justify-around.q-pt-lg
      //-     job-post.job(
      //-       v-for="(job, index) in jobs"
      //-       :key="index"
      //-     )
      //- section(
      //-   v-if="applications.length > 0"
      //- ).applications.q-pt-lg.q-mb-lg
      //-   h2.title
      //-     | Jobs I've Applied To
      //-   .applications-list.row.justify-around.q-pt-lg
      //-     job-post.application(
      //-       v-for="(application, index) in applications"
      //-       :key="index"
      //-     )
</template>

<script>
import JobPost from './JobPost.vue'
import { mapState } from 'vuex'
export default {
  name: 'Verified',
  components: {
    JobPost
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.profile.currentUser
    }),
    blurVerificationState () {
      return this.currentUser.verificationStatus === 'pending'
    }
  },
  data () {
    return {
      applications: [],
      jobs: [],
      loading: false,
      paidPayments: false,
      pendingPayments: false,
      upcomingPayments: false
    }
  },
  firestore () {
    const db = this.$fb.firestore()
    return {
      jobs: db.collection('jobs'),
      applications: db.collection('applications')
    }
  },
  methods: {
    showStripePayments () {
      return (this.currentUser.stripeAccountId)
    },
    stripeAuth () {
      this.loading = true
      this.$fb.auth().currentUser.getIdToken(true)
        .then((token) => {
          this.$axios.get(
            'https://api.blis.io/stripe/setup', {
              headers: {
                'Authorization': 'Bearer ' + token
              }
            })
            .then((res) => {
              console.log('Stripe Blis API AUTH CALL: ', res)
              this.loading = false
              window.location.href = res.data.url
            })
            .catch()
        })
        .catch()
    },
    stripeDashboard () {
      this.loading = true
      this.$fb.auth().currentUser.getIdToken(true)
        .then((token) => {
          this.$axios.get(
            'https://api.blis.io/stripe/dashboard', {
              headers: {
                'Authorization': 'Bearer ' + token
              }
            })
            .then((res) => {
              console.log('Stripe Blis API AUTH CALL: ', res)
              this.loading = false
              window.open(res.data.url, '_blank')
            })
            .catch()
        })
        .catch()
    }
  }
}
</script>

<style lang="stylus">
  // $
  +b('verified')
    &.blur-layout
      filter blur(5px)

</style>
