<template lang='pug'>
  q-btn(round).auth-header-btn
    q-avatar(size="32px")
      img(:src="currentUser.profilePhoto")

  //- q-btn-dropdown(
  //-     split
  //-     flat
  //-     no-caps
  //-     push
  //-     color="white"
  //-     @click="onMainClick"
  //-   )
  //-     template(v-slot:label)
  //-       q-item
  //-         q-item-section(side='')
  //-           q-avatar()
  //-             img.user-links__avatar(:src="currentUser.profilePhoto")
  //-         //- q-item-section.text-left
  //-         //-   q-item-label Welcome, {{ getFullName() }}
  //-         //-   q-item-label.text-white(caption) 2 job offers

  //-     q-list(dark).row.no-wrap.q-py-md.account-list
  //-       .column.col-12
  //-         q-item(clickable v-ripple to='' exact)
  //-           q-item-section(avatar)
  //-             q-icon(color='grey' name='settings')
  //-           q-item-section.text-grey
  //-             | Settings
  //-         q-item(clickable v-ripple @click='logOut')
  //-           q-item-section(avatar)
  //-             q-icon(color='grey' name='power_settings_new')
  //-           q-item-section.text-grey
  //-             | Logout
</template>

<script>
import { concatFullName } from '../../utils/utilFunctions'
export default {
  name: 'AuthHeaderButton',
  props: {
    currentUser: {
      type: Object,
      required: true
    }
  },
  data () {
    return {}
  },
  methods: {
    getFullName () {
      const { firstName, middleName, lastName } = this.currentUser
      return concatFullName(firstName, middleName, lastName)
    },
    logOut () {
      this.$fb.auth().signOut()
        .then(() => console.info('User logged off'))
        .catch(err => console.error('ERROR WITH USER LOGOFF: ', err))
    },
    onMainClick () {
      this.$router.push({ name: 'UserProfile' })
    }
  }
}
</script>

<style lang='stylus' scoped>
  .q-menu
    .account-list
      background transparent
</style>
